/*
* CometChat
* Copyright (c) 2016 Inscripts - support@cometchat.com | http://www.cometchat.com | http://www.inscripts.com
*/

.cometchat_ccmobiletab_redirect {
	background-color: <?php echo $themeSettings['primary_color'];?>;
	border-top: 1px solid <?php echo $themeSettings['primary_color'];?>;
	border-left: 1px solid <?php echo $themeSettings['primary_color'];?>;
	border-right: 1px solid <?php echo $themeSettings['primary_color'];?>;
	position:fixed;
	bottom:0;
	right: 10%;
	padding: 15px;
	text-align: center;
	color: <?php echo $themeSettings['color_white'];?>;
	cursor: pointer;
	font-weight: bold;
	font-family: <?php echo $themeSettings['font_family'];?>;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
    z-index: 99999;
}

.cometchat_ccmobiletab_tabalert {
	background: none repeat scroll 0 0 #EE397A;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: white;
	position: absolute;
	right: 30%;
	text-shadow: 0px 0px 35px white;
	text-align: center;
	text-shadow: none !important;
	bottom : 90%;
	padding: 0 10px;
	line-height: normal;
	border-width: 4px;
	border-style: solid;
	border-color: #D11559;
}

.cometchat_ccmobiletab_tabalert:before {
	border-color: #D11559 transparent transparent;
	border-style: solid;
	border-width: 10px;
	bottom: -22px;
	content: "";
	position: absolute;
	right: 24%;
}

.cc_overlay{
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.3;
	position: absolute;
	top: 0;
	z-index: 10000;
}

#mobile_social_login{
	position: absolute;
	width: 100%;
}

#mobile_social_login img.auth_options{
	position: static;
	margin: 4% auto;
}

#mobile_social_login .login_container{
	position: relative;
	z-index: 10000;
	margin: 0px auto;
	background: #FFF;
	padding: 5%;
	border-radius: 3%;
	box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
}

#mobile_social_login img.auth_options:first-child{
	margin-top: 0px;
}

#mobile_social_login img.auth_options:last-child{
	margin-bottom: 0px;
}
