html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;

}
iframe{
	overflow: hidden;
}
#endcall{
	bottom:20px;
	left:15px;
	color: #fff;
	background-color: #c71212 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e62020',endColorstr='#ae0606');
	background: -webkit-gradient(linear,left top,left bottom,from(#e62020),to(#ae0606));
	background: -moz-linear-gradient(top,#e62020,#ae0606);
	background: -ms-linear-gradient(top,#e62020,#ae0606);
	background: -o-linear-gradient(top,#e62020,#ae0606);
	border: 1px solid #7b0202;
	text-shadow: 1px 1px 0 #7b0202;
	opacity: 0.4;
	color:#FFFFFF;
	border: 1px solid #c71212 !important;
}
#endcall:hover{
	opacity: 1;
}

#avchatButtons{
	position:fixed;
	bottom:20px;
	left:15px;
}

#ie_fix {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: none;
}

.ie_buttonfix {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 1);
}

.ie_iframefix {
    position: relative;
    z-index: 1;
}
