/*
 * CometChat
 * Copyright (c) 2016 Inscripts - support@cometchat.com | http://www.cometchat.com | http://www.inscripts.com
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;

}

html, body {
	overflow: hidden;
	background: <?php echo $themeSettings['color_white'];?>;
	direction: <?php echo $dir;?>;
}

.SI-FILES-STYLIZED label.cabinet
{
	width: 200px;
	height: 30px;
	display: block;
	z-index: 1000;
	position: absolute;
 }

.SI-FILES-STYLIZED label.cabinet input.file
{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.cometchat_wrapper {
	width: 98%;
	margin: 0 auto;
	margin-top: 5px;
}

.container_body_1 {
	padding-bottom:0px;
}

.container_body_2 {
	text-decoration: none;
	color: <?php echo $themeSettings['text_color'];?>;
	display: block;
	height: 30px;
}

.container_body_3 {
	position: absolute;
	width: 97px;
	height: 16px;
	top: 68px;
	text-align: center;
	background-color: <?php echo $themeSettings['color_white'];?>;
	color: <?php echo $themeSettings['text_color'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_small'];?>;
	font-weight: bold;
	cursor: pointer;
	padding: 5px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.container_body_4 {
	padding-top: 18px;
}

.container_body.embed {
	border: 0px;
	padding: 5px;
}

.container_title.embed {
	display: none;
}

.container_body_3.embed {
	top: 35px;
}
.fileupload{
   display:none;
}

.cometchat_progresscontainer {
    border-top: 1px solid #999;
    /* width: 93%; */
    padding: 5px;
    margin: 2px;
}

.recording_container {
    border: 0.5px solid #000;
    width: 80%;
    padding: 5px;
    margin: 2px;
}
.recording_btn[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}
.progress_text {
  color:black;
  margin:1px;
}
.progress_bar {

}

.progress_result{

}
.progress_outer {
    border: 1px solid #666;
    width: 90%;
    height: 5px;
    /* float: left; */
    border-radius: 5px;
}
.progress {
    height: 100%;
    width: 0%;
    background: #439FE0; /* fallback for old browsers */
    border-radius: 5px;
   /* background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.filedrag
{
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

.filedrag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}
