/*
================================================
autosuggest, inquisitor style
================================================
*/
div.autosuggest {
  /*position: absolute;*/
  background-position: top;
  background-repeat: no-repeat;
  padding: 0px 0 0 0;
}

/* IEXX compatinility */
* html div.autosuggest {
  padding-top: 1px;
}

/* Only IE7 compatibility */
* + html div.autosuggest {
  margin-top: 12px;
  padding: 0px;
}

div.autosuggest div.as_header {
  margin-top: 5px;
  position: relative;
  height: 3px;
  padding: 1px 0 0 0;
  border-top: 1px solid #95a5c6;
  border-left: 1px solid #95a5c6;
  border-right: 1px solid #95a5c6;
  background-color: #ffffff;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

div.autosuggest div.as_footer {
  position: relative;
  height: 3px;
  padding: 1px 0 0 0;
  border-bottom: 1px solid #95a5c6;
  border-left: 1px solid #95a5c6;
  border-right: 1px solid #95a5c6;
  background-color: #ffffff;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Only IE7 compatibility */
* + html div.autosuggest div.as_header {
  margin-top: 0px;
}

* html div.autosuggest div.as_header {
  margin-top: 5px;
}

div.autosuggest div.as_footer {
  /* border-bottom:1px solid #95a5c6; */
}

div.autosuggest div.as_header div.as_corner,
div.autosuggest div.as_footer div.as_corner {
  position: absolute;
  top: 0;
  left: 0;
}

div.autosuggest div.as_header div.as_bar,
div.autosuggest div.as_footer div.as_bar {
  height: 0px;
  overflow: hidden;
  background-color: #ffffff;
}

div.autosuggest ul {
  list-style: none;
  margin: 0 0 -4px 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  border-left: 1px solid #95a5c6;
  border-right: 1px solid #95a5c6;
}

div.autosuggest ul li {
  color: #5776ae;
  padding: 0;
  margin: 0 4px 4px;
  text-align: left;
}

div.autosuggest ul li a {
  color: #000000;
  display: block;
  text-decoration: none;
  background-color: transparent;
  text-shadow: #000 0px 0px 5px;
  position: relative;
  padding: 0;
  width: 100%;
}

div.autosuggest ul li a:hover {
  background-color: #3b5998;
  text-decoration: none;
}

div.autosuggest ul li.as_highlight a:hover {
  background-color: #3b5998;
  text-decoration: none;
}

div.autosuggest ul li a span {
  display: block;
  padding: 3px 6px;
  font-weight: normal;
}

div.autosuggest ul li a span small {
  font-weight: normal;
  color: #999;
}

div.autosuggest ul li.as_highlight a span small {
  color: #ccc;
}

div.autosuggest ul li.as_highlight a {
  color: #fff;
  background-color: #3b5998;
  background-position: bottom right;
  background-repeat: no-repeat;
  text-decoration: none;
}

div.autosuggest ul li.as_highlight a span {
  background-position: bottom left;
  background-repeat: no-repeat;
}

div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr {
  background-image: transparent;
  background-repeat: no-repeat;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
}

div.autosuggest ul li a .tr {
  right: 0;
}

div.autosuggest ul li.as_highlight a .tl {
  left: 0;
  background-position: bottom left;
}

div.autosuggest ul li.as_highlight a .tr {
  right: 0;
  background-position: bottom right;
}

div.autosuggest ul li.as_warning {
  font-weight: bold;
  text-align: center;
}

div.autosuggest ul li.as_header {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  background: #999;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

div.autosuggest ul em {
  font-style: normal;
  font-weight: bold;
  color: #000000;
  background-color: #d8dfea;
}

/* UPLOAD PHOTO */

/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  max-width: 100%;
  border: 1px solid #8496ba;
  cursor: text;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  min-height: 1px;
  z-index: 2099;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  clear: left;
}

ul.token-input-list-facebook li input {
  border: 0;
  width: 100px;
  padding: 3px 8px;
  background: transparent;
  margin: 2px 0;
  -webkit-appearance: caret;
}

li.token-input-token-facebook {
  overflow: hidden;
  height: auto !important;
  height: 15px;
  margin: 3px;
  padding: 1px 3px;
  background-color: #eff2f7;
  color: #000;
  cursor: default;
  border: 1px solid #ccd5e4;
  font-size: 11px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  white-space: nowrap;
}

li.token-input-token-facebook p {
  display: inline;
  padding: 0;
  margin: 0;
}

li.token-input-token-facebook span {
  color: #a6b3cf;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}

li.token-input-selected-token-facebook {
  background-color: #5670a6;
  border: 1px solid #3b5998;
  color: #fff;
}

li.token-input-input-token-facebook {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.token-input-dropdown-facebook {
  position: absolute;
  width: 400px;
  background-color: #fff;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: default;
  font-size: 11px;
  font-family: Verdana, sans-serif;
  z-index: 2099;
}

div.token-input-dropdown-facebook p {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  color: #777;
}

div.token-input-dropdown-facebook ul {
  margin: 0;
  padding: 0;
}

div.token-input-dropdown-facebook ul li {
  background-color: #fff;
  padding: 3px;
  margin: 0;
  list-style-type: none;
  text-align: left;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
  background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
  background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
  font-weight: bold;
  font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
  background-color: #3b5998;
  color: #fff;
}

/*** style for iChat ***/
#ynchat-iframe-container {
  font-size: 12px;
  position: relative;
  z-index: 2000;
}

#ynchat-main-content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#ynchat-iframe-container.ynchat-mobileview ul {
  margin-bottom: 0;
}

#ynchat-iframe-container input[type=checkbox],
#ynchat-iframe-container input[type=radio] {
  margin: 0;
  margin-right: 3px;
}

.padding-bottom {
  padding-bottom: 10px;
}

#ynchat-main-content .headerbar .buttonbar > div {
  width: 26px;
  height: 26px;
}

#ynchat-main-content .headerbar .setting > a.btn-setting {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("static/image/setting.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: transparent;
}

#ynchat-main-content .headerbar .ynchat-close > a {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("static/image/close.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: transparent;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions > div > div.photo {
  width: 26px;
  height: 26px;
  background-image: url("static/image/photo.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: transparent;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions > div > div.emoticonsticker {
  width: 26px;
  height: 26px;
  background-image: url("static/image/emoticon.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: transparent;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions > div > div > .ynchat-button {
  width: 26px;
  height: 26px;
}

/*** chat list style ***/
#ynchat-main-content .headerbar {
  height: 26px;
  line-height: 26px;
  padding-left: 5px;
  background-color: #01a0db;
  color: #fff;
}

#ynchat-main-content .headerbar .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#ynchat-main-content .headerbar a {
  color: #fff;
  font-weight: bold;
}

#ynchat-main-content .headerbar .setting {
  float: right;
}

#ynchat-main-content .headerbar .setting .menu {
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  z-index: 2010;
}

#ynchat-main-content .headerbar .setting .menu:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-top: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  /* Rotate div */
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  /* Standard syntax */
  top: -4px;
  right: 8px;
}

#ynchat-main-content #ynchat-chatboxtabs .headerbar .setting .menu:after {
  right: 34px;
}

#ynchat-main-content .headerbar .setting .menu.active,
#ynchat-main-content .headerbar .setting .menu.ynopen {
  display: block;
}

#ynchat-main-content .headerbar .setting .menu li {
  padding: 0 5px;
  color: #141823;
  font-size: 11.5px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: normal;
}

#ynchat-main-content .headerbar .setting .menu li:hover {
  background-color: #01688f;
  color: #fff;
}

#ynchat-friend-list .bodybar {
  background-color: #e9eaed;
  padding: 0 3px;
  height: 300px;
  overflow-y: auto;
  text-align: center;
  line-height: 32px;
}

#ynchat-friend-list .bodybar #as_ul li,
#ynchat-friend-list .bodybar .default li {
  line-height: 32px;
  padding: 0 3px;
  margin: 0;
  cursor: pointer;
  position: relative;
  text-align: left;
}

#ynchat-friend-list .bodybar .default li .count-new-message {
  position: absolute;
  top: 0px;
  left: 24px;
  background-color: #ec2222;
  color: #fff;
  height: 12px;
  text-align: center;
  min-width: 12px;
  padding: 0px 2px;
  font-size: 10px;
  line-height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0px 2px rgba(255, 255, 255, 0.6);
  text-align: center;
}

#ynchat-friend-list .bodybar #as_ul li.as_warning {
  color: #333;
  cursor: default;
  font-weight: normal;
  text-align: center;
}

#ynchat-friend-list .bodybar #as_ul li.as_warning:hover {
  background-color: transparent;
}

#ynchat-friend-list .bodybar #as_ul li:hover,
#ynchat-friend-list .bodybar .default li:hover {
  background-color: #e1e2e5;
}

#ynchat-friend-list .bodybar #as_ul .avatar,
#ynchat-friend-list .bodybar .default .avatar {
  float: left;
  height: 32px;
}

#ynchat-friend-list .bodybar #as_ul .avatar img,
#ynchat-friend-list .bodybar .default .avatar img {
  width: 30px;
  height: 30px;
  margin-top: 1px;
}

#ynchat-friend-list .bodybar #as_ul .user-status,
#ynchat-friend-list .bodybar .default .user-status {
  float: right;
  color: #0f9d28;
  font-size: 0.8em;
  height: 32px;
  line-height: 32px;
}

#ynchat-friend-list .bodybar #as_ul .user-status .status,
#ynchat-friend-list .bodybar .default .user-status .status {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 4px;
  background-color: #898f9c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#ynchat-friend-list .bodybar #as_ul .user-status .status.available,
#ynchat-friend-list .bodybar .default .user-status .status.available {
  background-color: #0f9d28;
}

#ynchat-friend-list .bodybar #as_ul .name,
#ynchat-friend-list .bodybar .default .name {
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*** list search ***/
#as_searchFriend {
  left: 0 !important;
  top: inherit !important;
  bottom: 29px;
  max-width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#ynchat-friend-list .bodybar .as_footer,
#ynchat-friend-list .bodybar .as_header {
  display: none;
}

#ynchat-friend-list .bodybar #as_ul {
  background-color: #e9eaed;
  padding: 1px 3px;
  margin: 0;
  border: 0;
}

#ynchat-friend-list .bodybar #as_ul a,
#ynchat-friend-list .bodybar #as_ul a:hover {
  background-color: transparent;
  text-shadow: none;
  color: #555;
}

#ynchat-friend-list .footerbar #searchFriend {
  width: 100%;
  margin: 0;
  height: 29px;
  padding: 0 5px;
}

/*** chatbox style ***/
#ynchat-main-content #ynchat-friend-list {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 200px;
  z-index: 2010;
  background-color: #fff;
  border: 2px solid #01a0db;
}

#ynchat-chatboxtabs > div {
  border: 2px solid #01a0db;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 230px;
  z-index: 2011;
  width: 260px;
  word-break: break-word;
}

#ynchat-chatboxtabs > div .headerbar .buttonbar > div {
  float: right;
}

#ynchat-chatboxtabs > div .bodybar {
  background-color: #e9eaed;
  padding: 0 1px;
  width: 100%;
  height: 230px;
  overflow-y: auto;
}

#ynchat-chatboxtabs > div .bodybar.ynchat-file-pending {
  border: 2px dashed #01a0db;
  -webkit-filter: blur(0.8px);
  -moz-filter: blur(0.8px);
  -o-filter: blur(0.8px);
  -ms-filter: blur(0.8px);
  filter: blur(0.8px);
}

#ynchat-main-content.ynchat-moderator #ynchat-chatboxtabs > div .chat-attachment {
  border-top: 1px solid #d2d2d2;
}

#ynchat-main-content.ynchat-moderator #ynchat-friend-list {
  right: 85px;
  bottom: 30px;
}

#ynchat-main-content.ynchat-moderator #ynchat-chatboxtabs > div {
  right: 295px;
  bottom: 30px;
}

#ynchat-main-content.ynchat-moderator #ynchat-chatboxtabs > div + div {
  right: 565px;
  bottom: 30px;
}

#ynchat-main-content.ynchat-moderator #ynchat-chatboxtabs > div + div + div {
  right: 835px;
  bottom: 30px;
}

#ynchat-main-content.ynchat-moderator #ynchat-chatboxtabs > div + div + div + div {
  right: 1105px;
  bottom: 30px;
}

#ynchat-main-content.ynchat-moderator #ynchat-chatboxtabs > div + div + div + div + div {
  right: 1375px;
  bottom: 30px;
}

#ynchat-main-content.ynchat-moderator #ynchat-chatboxtabs > div + div + div + div + div + div {
  right: 1645px;
  bottom: 30px;
}

#ynchat-main-content.ynchat-moderator #ynchat-chatboxtabs > div + div + div + div + div + div + div {
  right: 1915px;
  bottom: 30px;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-chatboxtabs > div .chat-attachment {
  border-top: 1px solid #d2d2d2;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-friend-list {
  right: 85px;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-chatboxtabs > div {
  right: 295px;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-chatboxtabs > div + div {
  right: 565px;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-chatboxtabs > div + div + div {
  right: 835px;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-chatboxtabs > div + div + div + div {
  right: 1105px;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-chatboxtabs > div + div + div + div + div {
  right: 1375px;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-chatboxtabs > div + div + div + div + div + div {
  right: 1645px;
}

#ynchat-main-content.ynchat-admin-panel #ynchat-chatboxtabs > div + div + div + div + div + div + div {
  right: 1915px;
}

#ynchat-chatboxtabs > div + div {
  right: 500px;
}

#ynchat-chatboxtabs > div + div + div {
  right: 770px;
}

#ynchat-chatboxtabs > div + div + div + div {
  right: 1040px;
}

#ynchat-chatboxtabs > div + div + div + div + div {
  right: 1310px;
}

#ynchat-chatboxtabs > div + div + div + div + div + div {
  right: 1580px;
}

#ynchat-chatboxtabs > div + div + div + div + div + div + div {
  right: 1850px;
}

/*** fix float left ***/
.ynchat-floatleft #ynchat-main-content #ynchat-friend-list {
  left: 210px;
  right: inherit;
}

.ynchat-floatleft #ynchat-chatboxtabs > div {
  left: 420px;
  right: inherit;
}

.ynchat-floatleft #ynchat-chatboxtabs > div + div {
  left: 690px;
  right: inherit;
}

.ynchat-floatleft #ynchat-chatboxtabs > div + div + div {
  left: 960px;
  right: inherit;
}

.ynchat-floatleft #ynchat-chatboxtabs > div + div + div + div {
  left: 1230px;
  right: inherit;
}

.ynchat-floatleft #ynchat-chatboxtabs > div + div + div + div + div {
  left: 1500px;
  right: inherit;
}

.ynchat-floatleft #ynchat-chatboxtabs > div + div + div + div + div + div {
  left: 1770px;
  right: inherit;
}

.ynchat-floatleft #ynchat-chatboxtabs > div + div + div + div + div + div + div {
  left: 2040px;
  right: inherit;
}

.ynchat-floatleft #ynchat-chatboxtabs #ynchat-hidelist ul {
  left: -1px;
  right: inherit;
}

#ynchat-chatboxtabs #ynchat-hidelist {
  padding: 3px 5px;
  color: transparent;
  display: block;
  width: 18px;
  height: 22px;
  background-image: url("static/image/icon-hidetab.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#ynchat-chatboxtabs #ynchat-hidelist ul {
  right: -1px;
  border: 1px solid #d2d2d2;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#ynchat-chatboxtabs #ynchat-hidelist ul li {
  color: #333;
  white-space: nowrap;
  padding: 5px;
  padding-right: 25px;
  max-width: 160px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ynchat-chatboxtabs #ynchat-hidelist ul li + li {
  border-top: 1px solid #d2d2d2;
}

#ynchat-chatboxtabs #ynchat-hidelist ul li span.delete-hidelist {
  color: transparent;
  display: block;
  width: 11px;
  height: 11px;
  background-image: url("static/image/close-attachment.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 5px;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions {
  position: relative;
  border-top: 1px solid #d2d2d2;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions .chat-content {
  background-color: #fff;
  padding: 5px;
  padding-right: 70px;
  max-height: 60px;
  overflow-y: auto;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions .chatting {
  background: transparent;
  border: 0;
  display: block;
  height: 0;
  margin: 0;
  padding: 0 !important;
  min-height: 18px;
  line-height: 18px;
  outline: none;
  resize: none;
  overflow: hidden;
  font-size: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions > div + div {
  position: absolute;
  bottom: 1px;
  right: 0;
  z-index: 2009;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions > div > div {
  float: left;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions .panel {
  position: absolute;
  right: 0;
  bottom: 27px;
  width: 260px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  display: none;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions .emoticonsticker .panel {
  right: -30px;
}

#ynchat-chatboxtabs .footerbar.ynchat-box-actions .panel.active {
  display: block;
}

#ynchat-chatboxtabs img,
#ynchat-chatboxtabs video,
#ynchat-chatboxtabs iframe,
#ynchat-chatboxtabs embed {
  max-width: 100%;
  height: auto;
  padding-left: 4px;
}

#ynchat-chatboxtabs .chat-attachment .ynchat-content > div {
  padding: 3px;
}

#ynchat-chatboxtabs .chat-attachment .ynchat-content .ynchat-image {
  width: 60px;
  max-height: 60px;
  float: left;
  margin-right: 5px;
}

#ynchat-iframe-container .chat-attachment .ynchat-content .remove_file,
#ynchat-chatboxtabs .chat-attachment .ynchat-content .ynchat-attachment-close {
  color: transparent;
  display: block;
  width: 11px;
  height: 11px;
  background-image: url("static/image/close-attachment.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  float: right;
  margin-left: 3px;
}

#ynchat-iframe-container .chat-attachment .ynchat-content .remove_file {
  margin-top: 2px;
}

#ynchat-iframe-container .chat-attachment .ynchat-content .file_name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
}

#ynchat-iframe-container .chat-attachment .ynchat-content .file_div:hover {
  background-color: #e1e2e5;
}

#ynchat-iframe-container .chat-attachment .ynchat-content .file_div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#ynchat-chatboxtabs .chat-attachment .ynchat-content .ynchat-attachment {
  overflow: hidden;
}

#ynchat-chatboxtabs .chat-attachment .ynchat-content .ynchat-titledesc {
  overflow: hidden;
}

#ynchat-chatboxtabs .chat-attachment .ynchat-content .ynchat-titledesc .ynchat-title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 41px;
  overflow: hidden;
}

#ynchat-chatboxtabs .chat-attachment .ynchat-titledesc .ynchat-subtitle {
  color: #666;
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#ynchat-chatboxtabs .chat-attachment .ynchat-titledesc .ynchat-summary {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-attachment .ynchat-loading {
  display: none;
}

#ynchat-friend-list.ynchat-hide .setting,
#ynchat-friend-list.ynchat-hide .bodybar,
#ynchat-friend-list.ynchat-hide .footerbar,
.chatboxuser .setting,
.chatboxuser .bodybar,
.chatboxuser .footerbar,
.chatboxuser .chat-attachment {
  display: none;
}

#ynchat-friend-list .setting,
#ynchat-friend-list .bodybar,
#ynchat-friend-list .footerbar,
.chatboxuser.active .setting,
.chatboxuser.active .bodybar,
.chatboxuser.active .footerbar,
.chatboxuser.active .chat-attachment {
  display: block;
}

#ynchat-iframe-container .ynchat-input-checkbox {
  position: relative;
  line-height: 25px;
  padding-left: 16px;
}

#ynchat-iframe-container .ynchat-input-checkbox input[type=radio] {
  height: 15px;
  position: absolute;
  left: 0px;
  top: 6px;
}

/*** line message ***/
.line-message .message {
  background: transparent;
  border: 0;
  margin: 0 !important;
  padding: 0 !important;
  word-break: break-word;
  position: relative;
  width: inherit;
}

.line-message .message:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#ynchat-iframe-container .message-date,
#ynchat-iframe-container .line-message .message .message-break {
  height: 12px;
  text-align: center;
  font-size: 10px;
  color: #d2d2d2;
}

#ynchat-iframe-container .line-message .message .message-break div span {
  height: 12px;
  text-align: center;
  font-size: 10px;
  color: #d2d2d2;
  display: block;
}

#ynchat-iframe-container .message-date {
  height: 12px;
  text-align: center;
  font-size: 10px;
  color: #d2d2d2;
  position: relative;
  overflow: hidden;
  margin: 0.5em 0;
}

#ynchat-iframe-container .message-date span {
  display: inline-block;
  font-size: 10px;
  margin: auto;
  background: #fff;
  padding: 0 10px;
  position: relative;
}

#ynchat-iframe-container .message-date:before {
  content: "";
  display: block;
  border-bottom: 1px solid #d2d2d2;
  padding-top: 6px;
  position: absolute;
  height: 1px;
  width: 100%;
}

#ynchat-iframe-container .line-message .datetime {
  font-size: 0.8em;
  color: #d2d2d2;
  margin-left: 42px;
  margin-top: -3px;
  margin-bottom: 5px;
}

#ynchat-iframe-container .line-message.sender .datetime {
  text-align: right;
  margin-right: 6px;
}

.line-message .message .message-name {
  float: left;
  margin-right: 6px;
}

.line-message .message .message-name:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  /* Rotate div */
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  /* Standard syntax */
  top: 15px;
  margin-left: 3px;
}

.line-message .message .message-name img {
  width: 32px;
  height: 32px;
}
.line-message .message .message-name a {
  margin: 0;
}

.line-message .message .message-content {
  line-height: 18px;
  max-width: 70%;
  margin-right: 5px;
  overflow: hidden;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  color: #0D1D4E;
}

.line-message .message .message-content .ynchat-link {
  border-top: 1px dotted #d2d2d2;
  padding-top: 5px;
  margin-top: 5px;
}

.line-message .message .message-content .ynchat-link img {
  width: 60%;
}

.line-message .message .message-content .ynchat-playvideo {
  color: transparent;
  display: inline;
  width: 22px;
  height: 17px;
  background-image: url("static/image/play-video.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 3px;
}

.line-message .message.message-owner {
  text-align: right;
}

.line-message .message.message-owner:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #e7f1fe;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  /* Rotate div */
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  /* Standard syntax */
  top: 15px;
  right: 1px;
}

.line-message .message.message-owner .message-content {
  max-width: 75%;
  margin-left: 20px;
  margin-right: 5px;
  background-color: #e7f1fe;
  border: 1px solid #d2d2d2;
  font-size: 12px;
}
/*** chat popup ***/
#ynchat-iframe-container .ynchat-popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2011;
}

#ynchat-iframe-container .ynchat-popup-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2012;
  text-align: center;
}

#ynchat-iframe-container .ynchat-popup {
  display: inline-block;
  text-align: left;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  width: 500px;
  min-width: 100px;
  max-width: 90%;
  margin: 50px auto;
  position: relative;
  z-index: 2012;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

#ynchat-iframe-container .ynchat-popup .ynchat-popup-header {
  background-color: #f5f6f7;
  border-bottom: 1px solid #e5e5e5;
  color: #141823;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

#ynchat-iframe-container .ynchat-popup .ynchat-popup-header h2 {
  margin: 0;
  font-size: 16px;
}

#ynchat-iframe-container .ynchat-popup .ynchat-popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("static/image/close-modal.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: transparent;
  cursor: pointer;
}

#ynchat-iframe-container .ynchat-popup .ynchat-popup-body {
  padding: 10px;
  font-size: 13px;
}

#ynchat-iframe-container .ynchat-popup .ynchat-popup-body button {
  width: 70px;
  height: 30px;
  background-color: #4e69a2;
  border-color: #435a8b #3c5488 #334c83;
  border: 1px solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-size: 12px;
  line-height: 22px;
}

.ynchat-popup img,
.ynchat-popup video,
.ynchat-popup iframe,
.ynchat-popup embed {
  max-width: 100%;
  max-height: 100%;
}

#ynchat-iframe-container .ynchat-popup .ynchat-popup-body .bodyoldconversation {
  height: 300px;
  max-height: 300px;
  overflow-y: auto;
  margin-right: -10px;
  margin-left: -10px;
  padding: 0 10px;
}

#ynchat-popup .line-message .message .message-content {
  max-width: 450px;
}

.ynchat-popup .line-message .message .message-content a,
#ynchat-main-content .line-message .message .message-content a
{
  color: #297FC8;
}

/*** disable chat plugin ***/
#ynchat-iframe-container.ynchat-inactive #ynchat-chatboxtabs {
  display: none;
}

#ynchat-iframe-container.ynchat-inactive #ynchat-friend-list .footerbar {
  display: none;
}

#ynchat-iframe-container.ynchat-inactive #ynchat-friend-list .bodybar {
  position: relative;
  overflow: hidden;
}

#ynchat-iframe-container.ynchat-inactive #ynchat-friend-list .default {
  overflow: hidden;
  height: 100%;
}

#ynchat-iframe-container.ynchat-inactive #ynchat-friend-list .bodybar:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2012;
  top: 0;
  left: 0;
}

#ynchat-iframe-container.ynchat-inactive #ynchat-friend-list .ynchat-inactive-text {
  position: absolute;
  z-index: 2100;
  top: 40%;
  line-height: 20px;
  padding: 14px;
}

/*** emoticon ***/
.emoticonsticker-container:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  /* Rotate div */
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  /* Standard syntax */
  bottom: -4px;
  right: 38px;
}

.emoticonsticker-header {
  color: #141823;
  display: block;
  font-size: 12px;
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
  white-space: nowrap;
  zoom: 1;
}

.emoticonsticker-header > span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.emoticonsticker-header > span.active {
  background-color: #ddd;
  font-weight: bold;
}

.emoticonsticker-body {
  height: 280px;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.emoticonsticker-body > * {
  display: none;
}

.emoticonsticker-body > * span {
  cursor: pointer;
  padding: 3px;
}

.emoticonsticker-body > *.active {
  display: block;
}

#ynchat-iframe-container.ynchat-mobileview #ynchat-friend-list .ynchat-inactive-text {
  position: fixed !important;
  top: 10% !important;
}
