{% import '@Theme/macro/form.html' as Form %}
<form method="POST" action="{{ url('/cc_id/upgrade_controller') }}" enctype="multipart/form-data">
		<table><tr><td>Upload CometChat zip file:</td><td><div><input type="file" name="cometchat_file" /></div></td></tr>
		</br>
		<tr><td></td><td><div class="main_break">
		<input type="submit" name = "submit" value="Install" class="button" />
		</div></td></tr></table>
	</form>

</form>