{% import '@Theme/macro/form.html' as Form %}
<div class="table_header"> CometChat Administration Panel
	{% if checkdir  %}
	<form method="POST" action="{{ url('/cc_id/upload') }}" enctype="multipart/form-data">
		<table><tr><td>Upload CometChat zip file:</td><td><div><input type="file" name="cometchat_file" /></div></td>
		</br>
		<div class="main_break">
		<tr><td></td><td ><input type="submit" name = "submit" value="Install" class="button" /></td></tr>
		</table></div>
	</form>
	{% else %}
	<div class="extra_info">
	<iframe id="admin_iframe" src="{{ cometchat_admin }}" style=" width:100%;height:720px; border: 0;"  scrolling="yes"></iframe>
	</div>
	{% endif %}
</div>
<style type="text/css">
	tr:hover{
		background-color: #F1F1F1;
	}
</style>