/*
 * CometChat
 * Copyright (c) 2016 Inscripts - support@cometchat.com | http://www.cometchat.com | http://www.inscripts.com
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html, body {
	overflow: hidden;
	background: <?php echo $themeSettings['light_grey_color'];?>;
	direction: <?php echo $dir;?>;
	height:100%;
}

ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cometchat_wrapper {
	font-weight: normal;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	color: <?php echo $themeSettings['dark_grey_color'];?>;
	padding: 0px;
	height:100%;
    overflow: hidden;
}

.announcements ul{
	width : 100%;
	word-wrap: break-word;
}

li.announcement {
	margin: 0;
  	padding: 10px 10px;
    border-bottom: 1px solid <?php echo $themeSettings['border_color'];?>;
    background-color: <?php echo $themeSettings['color_white'];?>;
}

li.no-announcement {
	border-bottom: 0;
}

.cometchat_wrapper a {
	color: <?php echo $themeSettings['color_grey'];?>;
}

small {
	color: <?php echo $themeSettings['color_grey'];?>;
	font-size: <?php echo $themeSettings['font_size_small'];?>;
}

.highlight {
	background-color: <?php echo $themeSettings['light_grey_color'];?>;
}
.chattime {
	color: #bbb;
	float: right;
	margin-top: 4px;
}
.cometchat_announcement_list {
	cursor: pointer;
	overflow: hidden;
	line-height: 100%;
	/*padding-left: 2%;*/
	padding: 10px;
	/*padding-bottom: 1px;*/
	border-bottom: 1px solid #D1D1D1;
	/*font-family: <?php echo $themeSettings['left_content_font_family'];?>;*/
	font-family: cometchatfont;
	color: <?php echo $themeSettings['color_grey'];?>;
	overflow: auto !important;
}
.full_announcement{
    border-bottom: 1px solid #D1D1D1;
    padding: 21px;
    background: <?php echo $themeSettings['color_white'];?>;
    color: white;
}
