.ultimatevideo-player,
.user_group_rows{
    width:100%
}


@import 'https://static.younetco.com/ynicons/style.css';
//VARIABLE
// @gray: #7c7c7c;

@brand-primary: #297fc7;
@brand-success: #5bb85d;
@brand-danger: #d9534f;
@text-color: #585858;
@gray-dark: #999;
@gray: #7c7c7c;
@border-color: #ccc;

//MIXINS
.ultimatevideo-rating{
    font-size: 0;
    i.fa{
        color: #f7a300;
        font-size: 12px;
        margin-left: 2px;

        &.disable{
            color: #c7c7c7;
        }
    }
}


.ynicon.yn-play{
    position: relative;
    left: 2px;
}

.ultimatevideo-video-featured-icon{
    background: #ffa800;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    // margin-left: 5px;
    border-radius: 3px;
    position: absolute;
}

.ultimatevideo-separators span + span:before{
    content: ".";
    padding-left: 2px;
    padding-right: 5px;
    display: inline-block;;
}

.truncate{
    overflow: hidden;
    white-space: nowrap;
    word-break:break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: block;
}

 .uv-background-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.uv-transition(@ms){
    transition: all @ms;
}

.ultimatevideo-video-bgopacity{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    .uv-transition(300ms);
}

*[class*='ultimatevideo']{
    .dropdown-menu{
        a i.fa{
            margin-right: 5px;
        }
    }
}

//DROPDOWN ADD TO PLAYLIST, DROPDOWN
.ultimatevideo-actions{
    .dropdown-menu{
        width: 220px;
   
        & > li > a, 
        & > li > span > a{
            padding: 3px 14px;
            .uv-transition(300ms);
            &:hover{
                background: #f5f5f5;
                color: @brand-primary;
                .uv-transition(300ms);
            }
        }

        .dropdown-header{
            color: #bfbfbf;
            background: #eeeeee;    
            text-transform: uppercase;
            font-weight: 700;
            font-size: 11px;
            border: none;
            padding: 5px 15px;
        }

        .ynuv_quick_list_playlist{
            max-height: 100px;
            overflow-y: auto;

            .checkbox{
                margin: 0;

                label{
                    .truncate();    
                    font-size: 13px;
                    line-height: 20px;
                     padding: 15px;
                     padding-left: 35px;
                     border-bottom: 1px solid #EEE;

                    &:hover{
                        color: @brand-primary;
                    }

                    input[type="checkbox"]{
                        pointer-events: none;
                    }
                }

                &:hover{
                    background: #f5f5f5;
                    .uv-transition(300ms);
                }
            }
        }
        
        li[class^=ynuv_noti_add_to_playlist],
        li[class^=ynuv_error_add_to_playlist]{
            background: @brand-success;
            color: #FFF;
            text-align: center;
            padding: 10px 15px;
            position: absolute;
            z-index: 99;
            height: 100px;
            align-items: center;
        }

        li[class^=ynuv_error_add_to_playlist]{
            background: @brand-danger;
        }

        .ynuv_quick_list_playlist-title{
            a{
                font-size: 11px;
                text-transform: uppercase;
                color: @text-color;            
                font-weight: 700;
                background: #f5f5f5;
                padding: 0 14px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .ynuv_quick_list_playlist-title-form{
            background: #f5f5f5;
            border-top: 0;

            .ultimatevideo-quick-add-form{
                padding: 0 15px 15px;

                input.form-control{
                    margin-bottom: 10px;
                }

                .ultimatevideo-quick-add-form-btn{
                    display: flex;

                    button{
                        width: 100%;
                        padding: 8px 10px;

                        & + button{
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}


//ICON MODE VIEW
.ultimatevideo-modeviews{
    position: relative;
    z-index: 9;

    span{
        font-size: 0px;
        margin-left: -5px;
        line-height: normal;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .ynicon{
            font-size: 16px;
        }
    }

    &.show_grid_view{
        span:first-of-type{
            background: @text-color;
            color: #fff;
        }
    }

    &.show_casual_view{
        span:last-of-type{
            background: @text-color;
            color: #fff;
        }
    }    
    &.show_list_view{
        span:last-of-type{
            background: @text-color;
            color: #fff;
        }
    }
}

.ultimatevideo-cmds{
    position: absolute;
    right: 5px;
    top: 5px;
}


.ultimatevideo-cmds{ 
    display: flex;

    .dropdown{
        opacity: 0;
        margin-left: 5px;
        .uv-transition(300ms);

        a{
            .uv-transition(300ms);
        }

        & > a.btn{
            background: #FFF;
            border-color: #999b9a;
            width: 32px;
            height: 32px;
            line-height: 32px;
            padding: 0;
            color: #999b9a;
        }

        &.open{
            opacity: 1;

            & > a.btn{
                background: @brand-primary;
                color: #FFF;
                border-color: @brand-primary;
            }
        }
    }
}

.ultimatevideo_video_detail-actions-right{ 
    display: flex;
    .dropdown{
        opacity: 0;
        margin-left: 5px;
        .uv-transition(300ms);
    }
}

//FEATURED VIDEO
#ultimatevideo_slider_featured,
#ultimatevideo_slider_featured-1{
    margin-bottom: 20px;

    .owl-buttons{
        opacity: 0;
        .uv-transition(300ms);
        .owl-prev,
        .owl-next{
            position: absolute;
            top: 50%;
            color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            .uv-transition(300ms);
            color: #FFF;
            width: 52px;
            height: 52px;
            background: rgba(0,0,0,0.7);
            margin-top: -48px;
            box-shadow: 0 0 10px -3px #333;

            i.ynicon{
                font-size: 22px;
            }

            &:hover{
                background: rgba(255, 255, 255, 0.7);
                color: @text-color;
            }
        }

        .owl-prev{
            left: 0;
            margin-left: 10px;
        }
        .owl-next{
            margin-right: 10px;
            right: 0;
        }
    }

    &:hover{
        .owl-buttons{
            opacity: 1;
        }
    }

    .ultimatevideo-video-entry{
        height: 320px;
        position: relative;

        @media (max-width: 480px){
            height: 225px;
        }

        .ultimatevideo-video-image-wrap{
            width: 100%;
            height: 100%;

            & > a{
                display: block;
                width: 100%;
                height: 100%;
                .uv-background-image();
                pointer-events: none;
            }
        }

        .ultimatevideo-btnplay{
            font-size: 32px;
            color: #FFF;
            position: absolute;
            z-index: 9;
            top: 50%;
            left: 50%;
            margin-top: -40px;
            margin-left: -24px;
            text-shadow: 2px 2px 5px rgba(115, 115, 115, 0.5);
            .uv-transition(300ms);

            &:hover{
                color: @brand-primary;
            }
        }
    }

    .ultimatevideo-video-info{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 15px;
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
        padding-top: 90px;

        .uv-box-left{
            padding-right: 115px;

            &:before{
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: rgba(255,255,255,0.4);
                margin-bottom: 10px;
                width: 1000%;
                margin-left: -15px;
            }
        }

        .uv-box-right{
            position: absolute;
            right: 15px;
            bottom: 17px;
            text-align: right;
        }

        @media (max-width: 420px){
            .uv-box-right{display: none;}
            .uv-box-left{
                padding-right: 0;
            }
        }

        .ultimatevideo-video-title{
            color: #fff;
            .truncate;
            font-size: 18px;
            margin-bottom: 3px;
            .uv-transition(300ms);

            &:hover{
                color: @brand-primary;
            }
        }

        .ultimatevideo-video-owner{
            font-size: 13px;
            color: #ccc;

            a{
                color: #FFF !important;
                font-weight: normal !important;
                &:hover{
                    color: @brand-primary !important; 
                }
            }
        }

        .ultimatevideo-rating{
            margin-bottom: 5px;
            i.fa{
                font-size: 16px;
            }
        }
        .ultimatevideo-video-stats{
            color: #FFF;
            font-size: 12px;
        }
    }
}


//FEATURED PLAYLIST
.ultimatevideo_slider_featured-playlist{
    position: relative;
    margin-bottom: 20px;

    #ultimatevideo_slider_featured-2{
        padding: 10px 30px;
        background: #f8f8f8;
        border: 1px solid @border-color;
        border-top: 0;

        &.uv-nopadding{
            padding: 10px;

            .ultimatevideo-video-entry{
                padding: 0 8px;
            }
        }

        .owl-buttons{
            .uv-transition(300ms);
            opacity: 1;
            .owl-prev,
            .owl-next{
                position: absolute;
                top: 50%;
                margin-top: -11px;
                color: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                .uv-transition(300ms);
                color: @text-color;

                i.ynicon{
                    font-size: 22px;
                }

                &:hover{
                    background: rgba(255, 255, 255, 0.7);
                    color: @brand-primary;
                }
            }

            .owl-prev{
                left: 0;
                margin-left: 3px;
            }
            .owl-next{
                margin-right: 3px;
                right: 0;
            }
        }

        .ultimatevideo-video-entry{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 3px;
            height: 50px;
        }

        .ultimatevideo-video-image-wrap{
            width: 90px;
            height: 100%;
            cursor: pointer;
            // border: 1px solid #FFF;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);

            &:hover{
                // border-width: 5px;
                filter: none;
                -webkit-filter: none;
            }

            .ultimatevideo-video-image{
                height: 100%;
                display: block;
                width: 100%;
                .uv-background-image();
                pointer-events: none;
                cursor: pointer;
            }
        }
        .owl-item.synced{
            .ultimatevideo-video-image-wrap{
                border-width: 5px;
                filter: none;
                -webkit-filter: none;
                position: relative;

                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    border: 5px solid @brand-primary;
                }
            }

            .ultimatevideo-video-entry{
                position: relative;
            }
        }

        .ultimatevideo-playlist-info,
        .ultimatevideo-playlist-opacity,
        .ultimatevideo-playlist-btn-play{
            display: none;
        }
    }

    #ultimatevideo_slider_featured-1{
        margin-bottom: 0;
        border: 1px solid @border-color;

        .owl-item:hover{
            .ultimatevideo-playlist-opacity,
            .ultimatevideo-playlist-btn-play i.ynicon{opacity: 1}
        }

        .ultimatevideo-playlist-opacity{
            height: 100% !important;
            background: rgba(0,0,0,0.7);
            .uv-transition(300ms);
            opacity: 0;
        }

        .ultimatevideo-playlist-btn-play{
            margin-top: -21px !important; 

            i.ynicon{
                opacity: 0;
            }

            @media (max-width: 991px){
                opacity: 1;
            }
        }
        .ultimatevideo-video-entry{
            height: auto;

            .ultimatevideo-video-image-wrap{
                height: 330px;

                .ultimatevideo-playlist-opacity{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100px;
                }

                .ultimatevideo-playlist-btn-play{
                    color: #FFF;
                    top: 0%;
                    position: absolute;
                    left: 0%;
                    z-index: 2;
                    pointer-events: auto;
                    font-size: 30px;
                    text-shadow: 0px 2px 3px rgba(0,0,0,0.6);
                    width: 100%;
                    height: 100%;
                    margin-top: 0 !important;

                    i.ynicon{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -15px;
                        margin-left: -17px;
                    }
                }
            }
        }

        .ultimatevideo-playlist-info {
            padding: 10px 13px;
            border-top: 0;
            position: relative;
            padding-right: 110px;

            .ultimatevideo-video-title{
                font-size: 18px;
                font-weight: bold;
                color: @brand-primary;
                .truncate();
                margin-bottom: 3px;
            }

            .ultimatevideo-video-owner{
                color: #888;
                font-size: 13px;
                margin-bottom: 2px;

                span+span:before{
                    content: ".";

                    @media (max-width: 480px){
                        content: "";
                        display: none;
                    }
                }

                span{display: inline-block;}

                a{
                    font-weight: 400 !important;
                    color: @brand-primary !important;
                }
            }

            .ultimatevideo-total{
                width: 95px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: @text-color;
                border-left: 1px solid @border-color;
                font-size: 14px;
                b{font-size: 20px;}
            }

            .ultimatevideo-video-stats{
                font-size: 12px;
                color: @text-color;

                b{
                    font-size: 14px;
                }
                span+span{
                    border-left: 1px solid @gray-dark;
                    padding-left: 10px;
                    margin-left: 5px;
                }
                span+span:before{
                    display: none;
                }
            }
        }
    }

    @media (max-width: 480px){
        #ultimatevideo_slider_featured-2{display: none !important}
        #ultimatevideo_slider_featured-1 .ultimatevideo-video-entry .ultimatevideo-video-image-wrap{height: 250px;}
        .ultimatevideo-total{display: none !important}
        .ultimatevideo-playlist-info{padding-right: 15px !important;}
    }
}

//MODERATOR
.ultimatevideo-grid,
.ultimatevideo_playlists_grid-item{
    ._moderator{
        width: 30px;
        background: #f0f0f0;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 0;
        border-top: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;


        a{
            left: 7px;
            i.fa:before{
                color: #d5d5d5;
            }

            &.moderate_link_active{
                i.fa:before{
                    color: @brand-primary;
                }
            }
        }
    }    
}

//VIDEO IMAGE
.ultimatevideo-video-image{
    border: 1px solid rgba(0,0,0,0.14);
    background-origin: border-box;
}

//CASUAL VIEW
@casual-height-big: 250px;
@casual-height-small: 125px;
@line-color: #FFF;

.ultimatevideo-grid.show_casual_view{
    .ultimatevideo-video-entry{
        position: relative;
        border-right: 1px solid @line-color;
        border-bottom: 1px solid @line-color;

        ._moderator{
            z-index: 3;
            top: 1px;
            left: 1px;
            opacity: 0;
        }

        & > .ultimatevideo-video-featured-icon{
            display: flex !important;
            bottom: 7px;
            left: 7px;
        }

        .ultimatevideo-video-stats,
        .ultimatevideo-bar-01,
        .ultimatevideo-time-stamp{
            display: none;
        }
        
        .ultimatevideo-video-image-wrap{
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;

            & > a{
                width: 100%;
                display: block;
                height: 100%;
                border: none;
                .uv-background-image;
            }
        }

        .ultimatevideo-info{
            opacity: 0;
            position: relative;
            padding: 0 10px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            .ultimatevideo-btn-play{
                display: block !important;
                font-size: 28px;
                color: #FFF;
                text-shadow: 3px 4px 7px rgba(115,115,115,0.5);

                &:hover{
                    color: @brand-primary;
                }
            }

            .ultimatevideo-video-title{
                font-weight: 700;
                color: #FFF;
                line-height: 24px;
                overflow: hidden;
                display: block;
                font-size: 18px;
                .truncate();
                width: 100%;
                margin-bottom: 2px;
                &:hover{
                    color: @brand-primary;
                }
            }
            .ultimatevideo-video-owner{
                color: #cccccc;
                font-size: 12px;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
                .ultimatevideo-duration{
                    & + span{
                        &:before{display: none;}
                    }
                    &:before{
                        display: none;
                    }
                    &:after{
                        content: ".";
                        padding-left: 3px;
                        padding-right: 5px;
                    }
                }

                a{
                    color: #cccccc !important;
                    font-weight: 400 !important;
                }
            }
        }

        &:hover{
            .ultimatevideo-video-bgopacity,
            .ultimatevideo-info,
            .ultimatevideo-cmds .dropdown,
            ._moderator{
                opacity: 1;
            }
        }

        @media (max-width: 768px){
            .ultimatevideo-video-bgopacity,
            .ultimatevideo-info,
            .ultimatevideo-cmds .dropdown,
            ._moderator{
                opacity: 1 !important;
            }
        }
        
        @media (max-width: 420px){
            width: 100% !important;
            clear: both;
        }

        &.row-number-1{
            &.row-total-3{
                &.row-offset-0{
                    width: 60%;
                    height: @casual-height-big;
                    float: left;
                }                
                &.row-offset-1{
                    width: 40%;
                    height: @casual-height-small;
                    float: right;
                }            
                &.row-offset-2{
                    width: 40%;
                    height: @casual-height-small;
                    float: right;
                }

                @media (max-width: 768px){
                    &.row-offset-0{
                        width: 100%;
                    }
                    &.row-offset-1,
                    &.row-offset-2{
                        width: 50%;
                        height: @casual-height-big;
                    }
                }
            }
        }
        &.row-number-0{
            &.row-total-3{
                &.row-offset-0{
                    width: 40%;
                    height: @casual-height-small;
                    float: left;
                }                
                &.row-offset-1{
                    width: 40%;
                    height: @casual-height-small;
                    float: left;
                    clear: left;
                }            
                &.row-offset-2{
                    width: 60%;
                    float: right;
                    margin-top: -125px;
                    height: @casual-height-big;
                }
                @media (max-width: 768px){
                    &.row-offset-0{
                        width: 100%;
                        height: @casual-height-big;
                    }
                    &.row-offset-1,
                    &.row-offset-2{
                        width: 50%;
                        height: @casual-height-big;
                        margin-top: 0;
                    }
                }
            }
        }

        &.row-number-0,
        &.row-number-1{
            &.row-total-2{
                width: 50%;
                height: @casual-height-big;
                float: left;
            }
            &.row-total-1{
                width: 100%;
                clear: both;
                height: @casual-height-big;
            }
        }
    }
}

//GRIDVIEW
.ultimatevideo-grid.show_grid_view{
    margin: 0 -10px;

    .ultimatevideo-cmds{
        right: 15px;
    }
    ._moderator{
        opacity: 0;
    }

    .ultimatevideo-video-entry{
        padding: 0 10px;
        width: 50%;
        float:left;
        margin-bottom: 25px;
        position: relative;

        @media (max-width: 480px){
            width: 100%;
        }

        ._moderator{
            left: 10px;
        }

        &:hover{
            .ultimatevideo-video-bgopacity,
            .ultimatevideo-cmds .dropdown,
            ._moderator{
                opacity: 1;
            }
        }

        @media (max-width: 768px){
            .ultimatevideo-cmds .dropdown,
            .ultimatevideo-video-bgopacity,
            ._moderator{
                opacity: 1 !important;
            }
            .ultimatevideo-video-bgopacity{
                background: rgba(0,0,0,0);
            }
        }

        .ultimatevideo-video-title{
            max-width: 100%;
            font-weight: bold;
            display: block;
            padding: 0;
            font-size: 14px;
            .truncate;
        }

        .ultimatevideo-video-image-wrap{
            height: 150px;
            margin-bottom: 7px;
        }

        .ultimatevideo-video-image{
            display: block;
            .uv-background-image();
            width: 100%;
            height: 100%;
        }
    }

    .ultimatevideo-bar-01{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
        padding: 35px 10px 10px;
        color: white;
        font-weight: 500;
        min-height: 62px;

        .ultimatevideo-duration{
            font-size: 12px;
            float: left;    
            margin-right: 5px;
        }

        .ultimatevideo-rating{
            float: right;
            position: relative;
            top: 3px;
        }
    }

    .ultimatevideo-video-stats{
        font-size: 12px;
        color: @text-color;
    }

    .ultimatevideo-video-owner{
        font-size: 12px;

        .ultimatevideo-duration{
            display: none;

            & + span{
                &:before{display: none;}
            }
        }

        a{
            color: @brand-primary !important;
            font-weight: normal !important;
        }
    }
}

.ultimatevideo-grid.show_grid_view{
	.ultimatevideo-video-entry.ultimatevideo-no-bgopacity{
	    .ultimatevideo-bar-01{
	        display: block !important;
	        padding-top: 35px !important;
	        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%) !important;
	        background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%) !important;
	        background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%) !important;
	    }

	    .ultimatevideo-video-bgopacity{
	        background: rgba(0,0,0,0);
	        z-index: 9;
	    }
	}
}


//LAYOUT LEFT, RIGHT
#right,
#left{
    .ultimatevideo-grid{
        margin: 0;
        .ultimatevideo-video-entry{
            width: 100%;
            padding: 0;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;

            &:last-of-type{
                margin-bottom: 0;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .ultimatevideo-bar-01{
        z-index: 9;
        display: block !important;
        padding-top: 35px !important;
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%) !important;
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%) !important;
        background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%) !important;
    }

    .ultimatevideo-video-bgopacity{
        background: rgba(0,0,0,0);
        z-index: 9;
    }


    .ultimatevideo_playlists_grid-bg>a,
    .ultimatevideo_playlist_list-bg>a{
        background: rgba(0,0,0,0) !important;
    }

    .ultimatevideo_playlists_grid.show_grid_view .ultimatevideo_playlists_grid_playlist-item{
        width: 100%;

        .ultimatevideo_playlists_grid-content:hover{
            background: transparent;
        }

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}

.empty-right.empty-left{
    .ultimatevideo-grid.show_grid_view .ultimatevideo-video-entry,
    .ultimatevideo_playlists_grid.show_grid_view .ultimatevideo_playlists_grid_playlist-item{
        width: 25%;

        @media (max-width: 991px){
            width: 33.33%;
        }

        @media (max-width: 768px){
            width: 50%;
        }        

        @media (max-width: 420px){
            width: 100%;
        }
    }
}

//IMAGE WRAP
.ultimatevideo-video-image-wrap,
.ultimatevideo-playlist-image-wrap{
    position: relative;
}


//ADD, EDIT VIDEO
#page_ultimatevideo_add,
#page_ultimatevideo_addplaylist{
    .page_section_menu{
        padding-top: 0;
        
        ul{
            background: #FFF;
            padding: 10px;

            li{
                float: none;

                &:last-of-type{
                    border-bottom: 0;
                }
            }
        } 
    } 
}


//VIDEO DETAIL
.ultimatevideo_video_detail{
    iframe{
        width: 100% !important;
        margin-bottom: 15px;
    }

    .ultimatevideo-cmds .dropdown>a.btn, .ultimatevideo_video_detail-actions-right .dropdown>a.btn{
        font-size: 14px;
        .uv-transition(300ms);
    }

    .ultimatevideo_video_detail-title-rating{
        padding-bottom: 15px;
        border-bottom: 1px solid @border-color;
        margin-bottom: 10px;

        .ultimatevideo_video_detail-title{
            font-size: 22px;
            font-weight: bold;
            float: left;
            margin-bottom: 10px;
			word-break: break-word;
			word-wrap: break-word;
        }

        .ultimatevideo-video-featured-icon{
            display: inline-flex;
            width: auto;
            padding: 0 5px;
            margin-left: 0;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            position: relative;
            top: -4px;
            margin-right: 5px;

            .ynicon{
                margin-right: 3px;
            }
        }

        .ultimatevideo_video_detail-ratings{
            clear: both;
            position: relative;
            text-align: left;

            i.fa{
                cursor: pointer;
                font-size: 24px;

                &.hover{
                    color: #f7a300;
                }
            }

            & > span:first-of-type{
                font-size: 15px;
                font-weight: bold;
                color: $theme_font_color_light;
                margin-bottom: 0px;
                margin-left: 5px;
                position: relative;
                top: -3px;
            }

            .ultimatevideo_video_detail-rating-text{
                position: absolute;
                top: 25px;
                background: #333;
                color: #FFF;
                font-size: 13px;
                padding: 7px 10px;
                right: 0;
                min-width: 140px;
                text-align: center;
                border-radius: 4px;
                margin-top: 10px;
                .uv-transition(300ms);

                &:before{
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #333;
                    position: absolute;
                    top: -7px;
                    left: 50%;
                    margin-left: -4px;
                }

                &:empty{
                    display: none;
                }
            }
        }
    }


    .ultimatevideo_video_detail-info{
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .ultimatevideo_video_detail-categories-owner{
            font-size: 12px;
            flex: 1;

            .ultimatevideo_video_detail-categories{
                margin-bottom: 3px;
            }

            .ultimatevideo_video_detail-owner-username{
                a{
                    color: @brand-primary !important;
                    font-weight: normal !important;
                }
            }
            .ultimatevideo_video_detail-date{
                color: @text-color !important;
            }

            .ultimatevideo_video_detail-owner{
                .ultimatevideo_video_detail-owner-img{
                    float: left;
                    margin-right: 12px;

                    img{
                        width: 50px;
                        height: 50px;
                        border:none;
                    }
                }
            }

            .ultimatevideo_video_detail-owner-info{
                overflow: hidden;
                position: relative;
                top: -3px;

                .ultimatevideo_video_detail-date{
                    .truncate();
                    max-width: 200px;

                    color: @brand-primary;

                    span{
                        color: @text-color;
                    }
                }

                .ultimatevideo_video_detail-owner-username{
                    span{display: inline-block;}
                }

                .ultimatevideo_categories_breadcrumb{
                    display: inline-block;
                }

                & > div{
                    margin-bottom: 3px;
                    font-size: 12px;
                }
            }

        }

        .ultimatevideo_video_detail-count{
            padding-top: 10px;

            .ultimatevideo_video_detail-count-item{
                display: inline-block;
                padding: 0px 15px;
                border-left: 1px solid @border-color;
                text-transform: uppercase;
                font-size: 11px;
                text-align: right;
                color: #999;
                min-width: 70px;

                @media (max-width: 600px){
                    text-align: left;
                }

                @media (max-width: 480px){
                    min-width: 50px;
                    padding: 0 10px;
                }

                &:first-of-type{
                    border-left: 0;
                }

                span{
                    display: block;
                    font-size: 18px;
                    margin-bottom: 5px;
                    font-weight: 500;
                    color: @text-color;
                    text-align: right;
                }
            }

            .ultimatevideo_video_detail-count-items{
                clear: both;
                text-align: right;
                display: flex;
                align-items: center;
                flex-flow: wrap;
                


                .ultimatevideo_video_detail-count-item.ultimatevideo_video_action{
                    padding-right: 0;
                    border-left: 0;
                    text-transform: none;
                    text-align: right;
                    min-width: auto;
                    padding-left: 0;

                    @media (max-width: 600px){
                        position: absolute;
                        top: -52px;
                        right: 0px;
                    }

                    a.item_bar_action:before{
                        font-size: 16px;
                    }

                    .dropdown.open{
                        a.item_bar_action{
                            background: @brand-primary;

                            &:before{
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width:600px){
            justify-content: flex-start;
            flex-direction: row;
            flex-flow: wrap;

            .ultimatevideo_video_detail-categories-owner{
                margin-bottom: 10px;
                flex: 1 100%;

            }
            .ultimatevideo_video_detail-count .ultimatevideo_video_detail-count-item span{
                text-align: left;
            }
        }
    }

    .ultimatevideo_video_detail-actions-description{
        border: 1px solid @border-color;
        margin-bottom: 30px;

        .ultimatevideo_video_detail-actions{
            padding: 10px 10px;
            padding-bottom: 10px;
            background: #eee;
            clear: both;

            .ultimatevideo_video_detail-actions-mobilebox{
                display: inline-block;
            }

            .ultimatevideo_addthis{
                float: left;
                font-size: 0;
            }

            .ultimatevideo_video_detail-actions-right{
                float: right;
                text-align: right;

                @media (max-width: 768px){
                    float: left;
                    margin-top: 10px;
                    clear: both;

                    .ultimatevideo-actions .dropdown-menu{
                    	left: 0;
                    	right: auto;
                    }

                    .dropdown{
                        margin-left: 0;
                        margin-right: 5px;
                    }
                }

                 @media (max-width: 480px){
                    flex-flow: wrap;

                    .dropdown{
                        margin-bottom: 5px;
                    }
                 }

                .dropdown{
                    opacity: 1 !important;
                }
            }
        }

        .ultimatevideo_video_detail-description-block{
            padding: 13px 17px;
            border-top: 1px solid @border-color;
        }

        .ultimatevideo_video_detail-descriptions{
            line-height: 18px;
            padding: 0;

            img{
                max-width: 100%;
            }
        }

        .ultimatevideo_detail_block_button{
            float: right;
        }
    }

    .ultimatevideo_video_view_description{
        font-size: 13px;
        line-height: 1.5em;
    }

    .ultimatevideo_show_less_more{
        text-align: center;
        padding: 5px;
        border-top: 1px solid @border-color;

        & > a{
            color: @text-color;
            font-size: 12px;

            &:hover{
                color: @brand-primary
            }

            &.ultimatevideo_link_less{
                &:after{
                    content:"\f106";
                }
            }

            &:after{
                content:"\f107 ";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin-left: 5px;
            }
        }
    }

    .ultimatevideo_video_view_description.ultimatevideo_video_show_less{
        overflow: hidden;
        position: relative;
        clear: both;

        .ultimatevideo_video_view_description-detail{
            line-height: 18px;
            max-height: 54px;
            overflow: hidden;
        }
    }
}


//PLAYPLIST DETAIL
.ultimatevideo_playlist_detail.ultimatevideo_video_detail{
    .ultimatevideo_video_detail-info{
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0;
    }
    .ultimatevideo_video_detail-title-rating{
        border-bottom: 0;
        padding-bottom: 0;

        .ultimatevideo_video_detail-title{
            margin-bottom: 0;
        }
    }

    .ultimatevideo_video_detail-countvideo{
        font-size: 18px;
        font-weight: 700;
    }

    .ultimatevideo_playlist-count-modeview{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
    }

    .ultimatevideo_video_detail-count-item.ultimatevideo_video_action{
        @media (max-width: 600px){
            top: inherit !important;
        }
    }

    .ultimatevideo-grid.show_grid_view .ultimatevideo-video-entry{
        width: 33.33%;

        @media (max-width: 768px){
            width: 50%;
        }

        @media (max-width: 420px){
            width: 100%;
        }
    }
}

//PLAYLIST GRIDVIEW LISTVIEW
.ultimatevideo_playlists_grid_playlist-item{
    position: relative;

    &.ultimatevideo-no-bgopacity{
        .ultimatevideo_playlists_grid-bg>a,
        .ultimatevideo_playlist_list-bg>a{
            background: rgba(0,0,0,0) !important;
        }
    }
}

//PLAYLIST GRID VIEW
.ultimatevideo_playlists_grid.show_grid_view{
    margin-right: -4.5px;
    margin-left: -12.5px;
    position: relative;
    // z-index: 1;
    z-index: 0;
    
    .ultimatevideo_playlist_list-item{display: none !important}
    .ultimatevideo_playlists_grid_playlist-item{
        width: 50%;
        float: left;
        padding: 0 12.5px;
        margin-bottom: 25px;
        position: relative;

        @media (max-width: 768px){
            width: 50% !important;

            .ultimatevideo-cmds .dropdown,
            ._moderator{
                opacity: 1 !important;                
            }
        }

        @media (max-width: 480px){
            width: 100% !important;
        }

        .ultimatevideo-cmds{
            z-index: 99;
            right: 28px;
            top: 15px;
        }
        &:hover{
            .ultimatevideo-cmds .dropdown,
            ._moderator{
                opacity: 1;                
            }
            .ultimatevideo_playlists_grid-bg > a{
                background: rgba(0,0,0,0.7);
            }
        }

        ._moderator{
            top: 9px;
            left: 21px;
            z-index: 9;
        }

        .ultimatevideo_playlists_grid-content{
            padding: 8px;
            border: 1px solid @border-color;
            min-height: 280px;
            background: #FFF;
            position: relative;

            &:hover{
                background: #f8f8f8;
                .ultimatevideo_playlists_grid-actions{
                    opacity: 1;
                }
            }

            &:before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: #FFF;
                position: absolute;
                z-index: -1;
                bottom: -5px;
                right: -5px;
                border: 1px solid lighten(@border-color, 10%);
            }
            &:after{
                content: "";
                display: block;
                width: 100%;
                background: #FFF;
                height: 100%;
                position: absolute;
                z-index: -2;
                bottom: -9px;
                border: 1px solid lighten(@border-color, 10%);
                right: -9px;
            }
        }

        .ultimatevideo_playlists_grid-bg{
            width: 100%;
            height: 145px;
            margin-bottom: 7px;
            position: relative;
            .uv-background-image;

            .ultimatevideo_playlists_grid-count{
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                padding: 7px 10px;
                bottom: 0;
                color: #FFF;
                font-size: 14px;
                text-transform: lowercase;
                display: flex;
                align-items: center;
                background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
                padding-top: 50px;

                i.fa{
                    font-size: 12px;
                    margin-right: 5px;
                }
                .ultimatevideo_playlists_grid-number{
                    font-size: 18px;
                }

                .ultimatevideo-video-featured-icon{
                    position: static;
                    margin-left: 7px;
                }
            }

            & > a{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    .uv-transition(300ms);  
                    background: rgba(0,0,0,0.0);

                    @media (max-width: 768px){
                        background: rgba(0,0,0,0.0) !important;
                    }
                }
        }

        .ultimatevideo_playlists_grid-title{
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 3px;
            .truncate;
        }

        .ultimatevideo_playlists_grid-owner{
            font-size: 12px;
            color: #a3a3a3;
            margin-bottom: 5px;

            .user_profile_link_span{
                display: inline-flex;

                a{
                    font-weight: normal !important;
                    color: @brand-primary !important;
                }
            }

            & > span{
                a{
                    .truncate;
                    max-width: 70px;
                    display: inline-block;
                }
                span{
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            div{
                margin-top: 2px;
                color: @text-color;

                b{font-weight: normal;}

                & > span:last-of-type b{
                    display: none;
                }
            }
        }

        .ultimatevideo_playlists_grid-actions{
            position: absolute;
            top: 8px;
            right: 8px;
            opacity: 0;
            .uv-transition(300ms);

            .ultimatevideo_video_options-btn{
                background:rgba(0, 0, 0, 0.5);
            }
        }

        .ultimatevideo_playlists_grid-playlist-videos{
            background-color: #f8f8f8;
            padding: 5px 10px;
            margin: 0 -8px -8px;
            border-top: 1px solid @border-color;
            min-height: 55px;

            li{
                height: 22px;
                line-height: 22px;
                white-space: nowrap;
                font-size: 12px;
                .truncate();

                i.fa{
                    margin-right: 5px;
                }

                a{
                    color: @text-color;

                    &:hover{
                        color: @brand-primary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

//PLAYLIST LIST VIEW
.ultimatevideo_playlists_grid.show_list_view{
    position: relative;
    z-index: 1;

    ._moderator{
        top: 9px;
        left: 9px;
        z-index: 9;
        opacity: 0;
    }   

    &:hover{
        ._moderator{
            opacity: 1;                
        }
    }


    .ultimatevideo_playlists_grid-item{display: none !important}

    .ultimatevideo_playlist_list-item{
        margin-bottom: 28px;
        border: 1px solid @border-color;
        height: 178px;
        margin-right: 10px;
        position: relative;
        background: #FFF;

        @media (min-width: 991px) and (max-width: 1024px){
			height: auto;

            .ultimatevideo-cmds .dropdown{
                opacity: 1 !important;                
            }
        }

        @media (max-width: 768px){
			height: auto;
            .ultimatevideo-cmds .dropdown{
                opacity: 1 !important;                
            }
        }

        &:hover{
            background: #f8f8f8;
            .ultimatevideo-cmds .dropdown{
                opacity: 1;                
            }
        }
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #FFF;
            position: absolute;
            z-index: -1;
            bottom: -5px;
            right: -5px;
            border: 1px solid lighten(@border-color, 10%);
        }

        &:after{
            content: "";
            display: block;
            width: 100%;
            background: #FFF;
            height: 100%;
            position: absolute;
            z-index: -2;
            bottom: -9px;
            border: 1px solid lighten(@border-color, 10%);
            right: -9px;
        }

        .ultimatevideo_playlist_list-content{
            position: relative;
            height: 100%;

            &:hover{
                .ultimatevideo_playlist_list-actions{opacity: 1;}
                .ultimatevideo_playlist_list-bg > a{background: rgba(0,0,0,0.7);}
            }

            .ultimatevideo_playlists_list-count{
                color: #FFF;
                padding: 6px 10px;
                font-size: 14px;
                background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
                padding-top: 30px;
                display: flex;
                align-items: center;

                .ultimatevideo-video-featured-icon{
                    position: static;
                    margin-left: 13px;
                }

                i.fa{
                    font-size: 12px;    
                    margin-right: 5px;
                }
            }

            .ultimatevideo_playlist_list-actions{
                position: absolute;
                right: 5px;
                top: 5px;
                opacity: 0;
                .uv-transition(300ms);



                .ultimatevideo_video_options-btn{
                    background: @brand-primary;
                }
            }

            .ultimatevideo_playlist_list-bg{
                width: 220px;
                margin: 8px;
                height: 160px;
                .uv-background-image();
                display: block;
                float: left;
                position: relative;

                & > a{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    .uv-transition(300ms);  
                    background: rgba(0,0,0,0.0);

                    @media (max-width: 768px){
                        background: rgba(0,0,0,0) !important;
                    }
                }

				@media (min-width: 991px) and (max-width: 1024px){
					width: 100%;
                	margin: 0;
				}
                @media (max-width: 768px){
                	width: 100%;
                	margin: 0;
                }
            }

            .ultimatevideo_playlist_list-count{
                position: absolute;
                z-index: 9;
                bottom: 0;
                left: 0;
                width: 100%;
            }

            .ultimatevideo_playlist_list-info{
                height: 100%;
                overflow: hidden;
                padding: 10px 8px;
                position: relative;
            }

            .ultimatevideo_playlist_list-title{
                font-size: 20px;
                .truncate();
                margin-bottom: 5px;

                a{
                    color: @text-color;

                    &:hover{
                        color: @brand-primary;
                    }
                }
            }

            .ultimatevideo_playlist_list-owner{
                font-size: 12px;
                color: @gray-dark;
                margin-bottom: 2px;

                a{
                    .truncate();
                    display: inline-block;
                    max-width: 120px;
                }

                span{
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    display: inline-flex;

                    a{
                        font-weight: normal !important;
                        color: @brand-primary !important;
                    }
                }
            }

            .ultimatevideo_playlist_list-statis{
                font-size: 12px;

                span{
                    &:after{
                        content: ".";
                        margin-left: 3px;
                        margin-right: 3px;
                    }

                    &:last-of-type{
                        &:after{
                            content: "";
                        }
                    }
                }
            }

            .ultimatevideo_playlist_list-videos{
                margin-top: 10px;
                
                ul.ultimatevideo_playlist_list-videos-item li{
                    border-bottom: 1px solid @border-color;
                    height: 27px;
                    line-height: 27px;
                    font-size: 12px;

                    &:last-of-type{
                        border-bottom: 0px;
                    }

                    i.fa{
                        float: left;
                        margin-right: 10px;
                        position: relative;
                        top: 7px;
                    }

                    a{
                        max-width: 90%;
                        float: left;
                        .truncate();
                        color: @text-color;

                        &:hover{
                            color: @brand-primary;
                        }
                    }

                    .ultimatevideo_length{
                        float: right;
                        color: @gray-dark;
                    }
                }
            }
        }
    }
}


//NO MULTIPLE VIEW
.ultimatevideo_playlists_grid.show_grid_view.no-multiview{
    margin: 0;
    .ultimatevideo_playlists_grid_playlist-item{
        @media (min-width: 992px){
            padding: 0;
            margin-bottom: 0;
            border-top: 1px solid @border-color;
            padding-top: 20px;
            margin-top: 10px;
        }

        &:first-of-type{
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
        }

        .ultimatevideo_playlists_grid-bg{
            position: relative;
            margin-bottom: 15px;

            &:before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: #FFF;
                position: absolute;
                z-index: -1;
                bottom: -5px;
                right: -5px;
                border: 1px solid #eeeeee;
            }
            &:after{
                content: "";
                display: block;
                width: 100%;
                background: #FFF;
                height: 100%;
                position: absolute;
                z-index: -2;
                bottom: -9px;
                border: 1px solid #eeeeee;
                right: -9px;
            }

            & > a{
                border: 1px solid rgba(0, 0, 0, 0.5);
                background-origin: border-box;
            }
        }
        .ultimatevideo_playlists_grid-content{
            padding: 0;
            border: none;
            min-height: auto;
            z-index: 1;

            &:after,
            &:before{display: none}

            .ultimatevideo_playlists_grid-username{
                display: inline-block !important;

                span{
                    display: inline;
                }

                a{
                    font-weight: normal !important;
                    color: @brand-primary !important;
                    display: table-cell;
                }
            }
            .ultimatevideo_playlists_grid-time{display: inline-block;}
        }

        .ultimatevideo_playlists_grid-playlist-videos{
            display: none;
        }
    }
}


//LAYOUT 2 COL
.empty-right{
    .ultimatevideo_playlists_grid.show_grid_view .ultimatevideo_playlists_grid_playlist-item{
        width: 33.3%;
    }
}


//HAINM ADD CSS
.ultimatevideo-player,
.user_group_rows{
    width:100%
}

.ultimatevideo-error{
    color: red;
}
.moderation_holder ul {
    left: 0;
    top: auto;
    border: 0;
    background: #ffffff;
    color: #555555;
    bottom: 30px;
}
#ynuv_customfield_category{
    margin-top: 15px;
}


//EDIT PLAYLIST
.ultimatevideo-dragdrop.ui-sortable{
    border: 1px solid #ccc;
    li{
        padding: 10px 12px;
        border-top: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        border-bottom: 0;

        &:hover{
            border-radius: 0;
            background: #eee;
            border-bottom: 0;
        }

        a{
            text-decoration: none !important;
            color: @text-color !important;
            font-weight: normal;
        }

        &:first-of-type{
            border-top: 0;
        }

        .ultimatevideo-dragdrop-remove{
            cursor: pointer;
            color: @brand-danger !important;
        }
    }
}


//PAGINATION
.show_grid_view{
    .ultimatevideo_pagination{
        padding: 0 10px;
    }
}
.ultimatevideo_pagination{
    clear: both;
    height: auto;
    float: right;
    width: 100%;

    ul.pagination{
        display: block;
        margin: 0;

        li{
            display: inline-block;
            margin: 0 5px;

            a{
                padding: 0;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 13px;
                color: @gray-dark;
                .uv-transition(300ms);

                &:hover{
                    background: @gray-dark;
                    color: #FFF;
                    border-color: @gray-dark;
                }

                &.active{
                    border-color: @brand-primary !important;
                    background-color: @brand-primary;
                    color: #FFF;
                }
            }
        }
    }
}


//HOTFIX
#js_block_border__apps_younet_ultimatevideos_block_userpostedplaylistblock,
#js_block_border__apps_younet_ultimatevideos_block_userpostedvideoblock{
    .title > a{
        color: @brand-primary !important;
    }
}


//FEED
.ultimatevideo-feed-title{
    font-size: 16px;
    font-weight: 500;
    .truncate();
    color: @text-color;
    margin-top: 3px;
    margin-bottom: 5px;

    &:hover{
        color: @brand-primary;
    }
}

.ultimatevideo-feed-playlists{
    .ultimatevideo_playlists_grid-bg{
        margin-bottom: 10px;
    }
}

._app_ultimatevideo_playlist{
    img{
        width: 100%;
    }

    .feed_block_title_content{
        margin-top: 5px;

        a.activity_feed_content_link_title{
            font-size: 16px;
            font-weight: 500;
            .truncate();
            display: block;
            margin-bottom: 5px;
        }
    }
}


//PLAYLIST DETAIL SLIDESHOW
.ultimatevide_playlist_mode_slide.uv-close{
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}
#ultimatevide_playlist_mode_slide{
    padding: 10px;
    background: #eee;
    border: 1px solid @border-color;
    border-top: 0;
    margin-bottom: 20px;

    &:hover{
        .ultimatevideo_btn_playlist_pre,
        .ultimatevideo_btn_playlist_next{
            opacity: 1 !important;
        }
    }

    .ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-ol{display: none}
    .ms-slide .ms-slide-bgvideo{
        width: 100% !important;
        height: 100% !important;
    }
    .ms-inner-controls-cont{
        max-width: none !important;
    }
    .ms-videogallery-template{
        &.ms-videogallery-vertical-template{
            padding-right: 0;
        }
        .ms-thumb-list.ms-dir-h{
            position: static;
            width: auto;
            padding: 10px;
            border: 1px solid @border-color;
            border-top: 0;
            margin: 0 -10px;
            border-left: 0;
            border-right: 0;
            background: #FFF;
            max-height: 265px;
            overflow-y: auto;
            margin-bottom: -11px;
   
            .ms-thumb-frame{
                width: 50%;
                height: auto;
                opacity: 1;
                padding: 10px;
                margin: 0;

                @media (max-width: 768px){
                    width: 100%;
                }
            }
        }
    }
    
    .ultimatevideo_playlist_detail_item.ms-slide{
        width: 100% !important;
    }
    .ms-thumbs-cont {
        transform: none !important;
        overflow: hidden;
        width: auto !important;
    }

    .ms-nav-next,
    .ms-nav-prev{
        display: none !important;
    }
    

    .ultimatevideo_playbutton-block{
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        top: 50%;
        margin-top: -35px;
        .ultimatevideo_playbutton{
            color: #FFF;
            font-size: 40px;
            text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

            &.ultimatevideo_btn_playlist_pre,
            &.ultimatevideo_btn_playlist_next{
                font-size: 48px;
                opacity: 0;
                .uv-transition(300ms);
            }
        }
    }

    .ultimatevideo_playlist_detail_actions-block{
        display: flex;
        border: 1px solid @border-color;
        align-items: center;
        overflow: hidden;
        margin: 0 -10px;
        margin-top: 10px;
        background: #FFF;
        border-left: 0;
        border-right: 0;
        position: relative;

        @media (max-width: 768px){
            flex-direction: column;
        }

        .ultimatevideo_playlist_detail_actions-toggle{
            padding: 0 10px;
            font-size: 16px;
            line-height: 10px;
            cursor: pointer;

            @media (max-width: 768px){
                position: absolute;
                right: 5px;
                bottom: 15px;
            }

            &:hover{
                color: @brand-primary;
            }

            &.active{
                transform: rotate(180deg);
            }
        }

        .ultimatevideo_playlist_detail_actions{
            display: flex;

            @media (max-width: 768px){
                width: 100%;

            }


            & > span{
                display: flex;
                align-items: center;
                height: 48px;
                float: left;
                padding: 0 15px;
                border-right: 1px solid lighten(@border-color, 10%);

                label{
                    margin-bottom: 0;
                    font-weight: normal;
                    cursor: pointer;
                    white-space: nowrap;

                    span{
                        .uv-transition(300ms);
                    }
                }

                input{
                    margin-right: 4px;
                    position: relative;
                    top: -1px;
                    margin-top: 0;

                    &.active{
                        & + span{
                            color: @brand-primary;
                        }
                    }
                }
            }
        }

        #ultimatevideo_repeat_button,
        #ultimatevideo_shuffle_button{
            border-right: 1px solid lighten(@border-color, 10%);
            width: 48px;
            height: 48px;
            display: flex;
            float: left;
            align-items: center;
            justify-content: center;
            color: @text-color;
            font-size: 15px;
        }

        .ultimatevideo_status_button.active{
            color: @brand-primary !important;
        }
    }

    .ultimatevideo_current_title_playing{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 5px 0 15px;
        align-items: center;

        @media (max-width: 768px){
            height: 48px;
            border-top: 1px solid @border-color;

            .ultimatevideo_videos_count{display: none;}
        }

        @media (max-width: 420px){
            #ynuv_current_video_title{
                max-width: 200px !important;
            }
        }

        & > span{
            display: flex;

            span{
                display: inline-block;
                overflow: hidden;
                margin-right: 5px;
            }
        }

        #ynuv_current_video_title,
        .ultimatevideo_videos_count{
            font-weight: 700;

            i.fa{
                margin-right: 4px;
            }
        }

        #ynuv_current_video_title{
            .truncate();
            display: inline-block;
            max-width: 300px;
        }
    }

    .ultimatevideo_playlist_detail_infomation{
        padding: 20px;
        padding-right: 10px;
        border: 1px solid @border-color;
        position: relative;
        .uv-transition(300ms);
        overflow: hidden;

        .ultimatevideo-video-featured-icon{
            top: 10px;
            right: 10px;
        }

        &:hover{
            border: 1px solid @brand-primary;
            box-shadow: 0 0 9px 0px lighten(@brand-primary, 10%);
        }

        .ultimatevideo-video-title{
            font-weight: 700;
            color: @brand-primary;
            line-height: 18px;
            max-height: 36px;
            overflow: hidden;
            padding-right: 25px;
            margin-bottom: 4px;
        }

        .ultimatevideo-video-owner-duration{
            position: static;
            bottom: 0px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: @gray;
            font-size: 12px;

            .ultimatevideo-duration{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .ultimatevideo-video-owner a{
            color: @gray !important;
            font-weight: normal !important;
            white-space: nowrap;
            overflow: hidden;
            max-width: 150px;
            display: block;
            text-overflow: ellipsis;

            &:hover{
                color: @brand-primary !important;
            }
        }
        .ultimatevideo_video_thumb{
            float: left;
            margin-right: 10px;
            position: relative;

            & > span{
                width: 38px;
                height: 38px;
                background: @brand-primary;
                border-radius: 100%;
                border: 3px solid rgba(255, 255, 255, 0.5);
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -19px;
                margin-left: -19px;
                color: #FFF;
                font-size: 20px;
                line-height: 35px;
                text-align: center;
                background-clip: content-box;
            }
    
            img{
                width: 85px;
                height: 60px;
            }
        }
        & > a{
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            color: @gray;
        }
        .ultimatevideo_playlist_detail_infomation_detail{
            overflow: hidden;
            text-align: left;
            position: relative;
            height: 60px;
        }
    }

    .ms-thumb-frame.ms-thumb-frame-selected{
        .ultimatevideo_playlist_detail_infomation{
            background: @brand-primary;
            border-color: @brand-primary;
            color: #FFF;

            .ultimatevideo_video_thumb{
                & > span{display: block !important;}
            }

            .ultimatevideo-video-title,
            .ultimatevideo-video-owner-duration{
                color: #FFF;
            }

            .ultimatevideo-video-owner a{
                color: #FFF !important;
            }

            & > a{
                color: #FFF;
                background: darken(@brand-primary, 5%);
            }
        }
    }
}


//CUSTOM FIELD
.ultimatevideo-custom-fields{
    margin-top: 10px;
    margin-bottom: 10px;

    .ultimatevideo-detail-overview-additional-item{
        & > a{
            display: block;
            font-weight: 700;
            color: @text-color;
            padding: 8px 0;
            border-bottom: 1px solid lighten(@border-color, 10%);

            &:after{
                content: "\f106";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: block;
                float: right;
                padding-right: 10px;
                font-size: 16px;
            }

            &.collapsed:after{
                content: "\f107";
            }
        }

        & > div{
            padding: 10px 10px 10px 20px;
        }
    }
}


//POPUP INVITE FRIEND
@media (max-width: 600px){
    #page_ultimatevideo_view,
    #page_ultimatevideo_view_playlist{
        .friend_search_holder, 
        .friend_search_holder:hover{
            width: 100%;
            margin-right: 0;
        }
    }
}

.ultimatevideo-player {
 width: 100%;
}


