/*
 * CometChat
 * Copyright (c) 2016 Inscripts - support@cometchat.com | http://www.cometchat.com | http://www.inscripts.com
*/

body {
	margin: 0px;
}

#cometchat_chatroomstab_popup{
	display: none;
}

#createChatroomOption{
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_embed'];?>;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
	padding-left: 3%;
}

.create_input {
	border: 1px solid <?php echo $themeSettings['light_grey_color'];?>;
	border-radius: 5px;
	color: <?php echo $themeSettings['dark_grey_color'];?>;
	background: <?php echo $themeSettings['color_white'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	outline: none;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 8px;
	width: 85%;
	display: block;
	margin-bottom: 10px;
	margin-left: 12px;
}

.create_value select.create_input {
	border: 1px solid <?php echo $themeSettings['border_color'];?>;
}

#composechat_container #create {
	height: 100%;
	background-color: <?php echo $themeSettings['light_grey_color'];?>;
}
.cometchat_chatroomlist {
	cursor: pointer;
	overflow: hidden;
	line-height: 100%;
	padding: 8px;
	padding-left: 6px;
	border-bottom: 1px solid #D1D1D1;
}


#chatroomuser_container{
	background: #ffffff;
}

.cometchat_wrapper {
    overflow: hidden;
    background: #FFFFFF;
}

.container_title.embed {
	display: none;
}

.chatroom_avatar {
	float:<?php echo $left;?>;
}

#plugin_container{
	overflow: auto;
}

#moderator_container{
	overflow: auto !important;
}
.control_buttons {
	line-height:30px;
}

input[type="submit"].invitebutton{
	display: block;
	border-radius: 5px;
	padding: 12px;
	margin: 0 auto;
	display: block;
	border-radius: 25px;
	min-width: 70%;
	max-width: 80%;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="submit"].unbanuser{
	display: block;
	padding: 12px;
	margin: 0 auto;
	display: block;
	border-radius: 25px;
	min-width: 70%;
	max-width: 80%;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="submit"].createroombutton{
	display: block;
	padding: 8px;
	background-color: <?php echo $themeSettings['primary_color'];?>;
	border-radius: 25px;
	max-width: 85%;
	min-width: 50%;
	cursor: pointer;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invitedusers {
	border: 1px solid #6C9032;
}

.invite_1 {
	cursor: pointer;
	position: relative;
	float: <?php echo $left;?>;
	width: 100%;
	border-bottom: 1px solid <?php echo $themeSettings['border_color'];?>;
	padding: 8px;
    padding-bottom: 6px;
}

.invite_1:hover {
	background-color: <?php echo $themeSettings['hover_color'];?>;
}

.invite_2 {
	float: <?php echo $left;?>;
}

.invite_3 {
	float: <?php echo $left;?>;
	padding: 2px;
	padding-<?php echo $left;?>: 20px;
	max-width: 130px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-top: 7px;
}

.invite_4 {
	position: absolute;
	right: 45px;
	top: 14px;
}

.invite_5 {
	color: <?php echo $themeSettings['text_color'];?>;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	opacity: 0.4;
	float: <?php echo $left;?>;
	text-overflow: ellipsis;
	max-width: 105px;
}
.invite_name{
	text-transform: capitalize;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 130px;
	max-width: 130px;
	float: <?php echo $left;?>;
	white-space:nowrap;
	font-size: 11px;
	line-height: 16px;
	color: <?php echo $themeSettings['text_color'];?>;
	font-size: <?php echo $themeSettings['font_size_embed'];?>;
	text-align: <?php echo $left;?>;
	<?php if ($rtl):?>
	margin-right: 7px;
	<?php endif;?>
}

.cometchat_userscontentdot {
    height: 6px;
    width: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-radius: 50%;
    display: inline-block;
    float: <?php echo $left;?>;
    margin: 2px 6px 0px 2px;
}

.cometchat_user_available {
    border: 1px solid #36b581;
    background-color: #36b581;
}

.cometchat_user_away {
    border: 1px solid #efbe4d;
    background-color: #efbe4d;
}

.cometchat_user_invisible {
    border: 1px solid #36b581;
    background-color: #ffffff;
}

.cometchat_user_busy {
    border: 1px solid #eb5160;
    background-color: #eb5160;
}

.cometchat_user_offline {
    border: 1px solid #474747;
    background-color: #474747;
}

.cometchat_buddylist_status {
	margin-top: 3px;
	text-transform: capitalize;
    float: <?php echo $left;?>;
    font-size: <?php echo $themeSettings['font_size_small']; ?>;
    color: #aaa;
}

.invitebutton{
	border: 0px;
	color: <?php echo $themeSettings['main_background'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_small'];?>;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
	display: inline-block;
	background-color: <?php echo $themeSettings['primary_color'];?>;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 8px;
}

.unbanuser{
	border: 0px;
	color: <?php echo $themeSettings['main_background'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_small'];?>;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
	display: inline-block;
	background-color: <?php echo $themeSettings['primary_color'];?>;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 8px;
}
.invitebutton:disabled {
	background: none;
	background-color: #CCCCCC !important;
	text-shadow: none;
	color: #949494 !important;
}

.unbanuser:disabled {
	background: none;
	background-color: #CCCCCC !important;
	text-shadow: none;
	color: #949494 !important;
}
.container_body {
	border-left: 1px solid <?php echo $themeSettings['light_grey_color'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['light_grey_color'];?>;
	border-right: 1px solid <?php echo $themeSettings['light_grey_color'];?>;
	background-color: white;
	color: <?php echo $themeSettings['text_color'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	height: 532px;
	overflow-x: hidden;
	overflow-y: auto;
}

.container_body.embed {
	border: 0px;
}

.container_title.embed {
	display: none;
}

.container_sub {
	border-left: 1px solid <?php echo $themeSettings['light_grey_color'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['light_grey_color'];?>;
	border-right: 1px solid <?php echo $themeSettings['light_grey_color'];?>;
	color: <?php echo $themeSettings['text_color'];?>;
	padding: 5px;
}

.container_sub.embed {
	border: 0px;
    border-top: 1px solid #E6E7EA;
    color: #3B5998;
    padding: 5px;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    border: 0px;
    right: 3px;
}
.passwordbox_body{
	padding: 5px;
}
.createroombutton{
	border: 0px;
	color: <?php echo $themeSettings['color_white'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_embed'];?>;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
	display: inline-block;
	margin: 10px auto;
	background-color: <?php echo $themeSettings['primary_color'];?>;
	border-radius: 3px;
	cursor: pointer;
}

#lobby_rooms{
	overflow: auto !important;
	background: white;
}

.lobby_room{
	padding: 6px;
	color: <?php echo $themeSettings['text_color'];?>;
	font-size: <?php echo $themeSettings['font_size_embed'];?>;
	font-family: <?php echo $themeSettings['font_family'] ; ?>;
	cursor: pointer;
	overflow: hidden;
	line-height: 100%;
	position: relative;
	border-bottom: 1px solid #D1D1D1;
}

.lobby_noroom {
	padding-top: 15px;
	color: <?php echo $themeSettings['text_color'];?>;
	padding-left: 10px;
	padding-top: 10px;
	text-align: center;
}

.lobby_room_1 {
	padding-top: 6px;
	text-transform: capitalize;
	padding-<?php echo$left;?>: 15px;
	text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    overflow: hidden;
    max-width: 85%;
    display: block;
    position: relative;
}

.lobby_room_2 {
	padding-top: 15px;
	<?php if ($showChatroomUsers):?>
	display: none;
	<?php endif;?>
	line-height: 18px;
	font-weight: small;
	opacity: 0.5;
	padding-<?php echo $right;?>: 10px;
	font-size: 12px;
}

.lobby_room_3 {
	padding-top: 15px;
	float: <?php echo $right;?>;
	padding-<?php echo $right;?>:10px;
}

.lobby_room_4 {
	padding-top: 15px;
	float: <?php echo $right;?>;
	padding-<?php echo $right;?>:10px;
}

.lobby_room_5 {
	padding-top: 15px;
	float: <?php echo $right;?>;
	padding-<?php echo $right;?>:10px;
}

.lobby_room_6 {
	padding-top: 15px;
	float: <?php echo $right;?>;
	padding-<?php echo $right;?>:10px;
}

.cancel_edit {
	font-size: 11px;
	margin-left: 8px;
	color: #304650;
}

.cometchat_chatroom_overlay {
	width: 100%;
  	position: absolute;
  	padding-top: 11px;
  	padding-bottom: 15px;
  	top: 0;
  	left: 0;
  	z-index: 1000;
}

.cometchat_msgcount_cr {
	display: none;
	float: <?php echo $right;?>;
}

.cometchat_msgcounttext_cr {
	height: 16px;
	width: 16px;
	text-align: center;
	line-height: 16px;
	font-size: 11px;
	background: <?php echo $themeSettings['main_background'];?>;
	border-radius: 9px;
	color: white;
	font-weight: bold;
}

.lobby_room:hover {
	background-color: rgba(0,0,0,0.1);
	color: <?php echo $themeSettings['left_header_background'];?>;
}

.password_hide {
	display: none;
}

.passwordBox_container {
}

.delete_msg {
	cursor: pointer;
	margin-top: 17px;
    margin-left: 3px;
	display:none;
	float: <?php echo $right;?>;
}

.hoverbraces{
	height: 15px;
	width: 15px;
}

.cometchat_chatboxalert {
	text-align: center;
	margin: 10px 0px;
	color: #D1D1D1;
}

.cometchat_chatboxalert .cometchat_ts{
	padding-top: 3px;
}

#currentroom{
	position: relative;
	z-index: 1;
}

#currentroom_left .cometchat_tabsubtitle {
	padding: 11px;
	height: 45px;
	position: relative;
}

.cometchat_chatroomavatarimage {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.cometchat_chatroomdisplayname{
	text-transform: capitalize;
	padding: 5px 0px;
	margin-<?php echo $left;?>: 20px;
	font-size: <?php echo $themeSettings['font_size_embed'];?>;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 83%;
}

.cometchat_chatboxmessagefrom {
	font-weight: bold;
	float: <?php echo $left;?>;
	<?php if ($rtl):?>
	float: right;
	<?php endif;?>
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_chatboxmessagefrom strong {
    vertical-align: top;
}

.cometchat_chatboxmessagefrom a {
    vertical-align: top;
}

span.cometchat_chatboxmessagecontent {
	display: block;
	margin-right: 18px;
	line-height: 16px;
}

#cometchat_plugins{
	display: none;
}

#currentroom_convo {
	margin: 0px auto;
  	background: white;
  	position: relative;
  	z-index: 90;
  	overflow: hidden;
}

.talkindicator {
	background: <?php echo $themeSettings['closebox_background'];?>;
	border-radius: 4px;
	color: <?php echo $themeSettings['right_content_other_color'];?>;
	cursor:	pointer;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 7px;
	position:fixed;
	text-decoration: none;
	right: 5%;
	top: 160px;
	z-index: 110;
	opacity: 0.6;
}

.talkindicator:hover {
	opacity: 1;
}

.cometchat_userscontentdot_synergy {
	background-position: 0px 2px;
	background-repeat: no-repeat;
	float: <?php echo $left;?>;
	height: 9px;
	margin-top: 6px;
	width: 9px;
	bottom: 2px;
	right: 2px;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
}

.cometchat_available_synergy {
	background: #97c846;
}

.cometchat_away_synergy {
	background: #EAAB5B;
}

.cometchat_busy_synergy {
	background: #FF1828;
}

.cometchat_invisible_synergy {
	background: #545454;
}

.cometchat_offline_synergy {
	background: #545454;
}

.cometchat_mobile_synergy {
	border-radius: 2px;
	border-style: solid;
	border-width: 2px 1px 4px;
	height: 8px !important;
	width: 6px !important;
	background: white;
}

.cometchat_mobile_available_synergy {
	border-color: #97c846;
}

.cometchat_mobile_away_synergy {
	border-color: #EAAB5B;
}

.cometchat_mobile_busy_synergy {
	border-color: #FF1828;
}

.cometchat_mobile_offline_synergy {
	border-color: #545454;
}

.status_container {
	color: #666666;
	margin-left: 65px;
}

.status_area {
	min-width: 95px;
}

.status_messagearea {
	margin-top: 3px;
	margin-left: 5px;
	max-width: 110px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media all and (max-width: 786px) {
	#currentroom_convo {
		margin: 0px;
		width: 100%;
	}
}

.cometchat_prependMessages_container{
	background: <?php echo $themeSettings['color_white'];?> ;
	padding: 2px;
}
.cometchat_prependCrMessages{
	width: 139px;
    margin: 2px auto;
    color: <?php echo $themeSettings['primary_color'];?>;
    cursor: pointer;
    font-family: <?php echo $themeSettings['font_family'];?>;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 10px;
    padding: 10px;
    border-radius: 6px;
}
.cometchat_prependCrMessages:hover{
    cursor: pointer;
    color: <?php echo $themeSettings['primary_color'];?>;
}

.cometchat_chatroomtitle {
	color: <?php echo $themeSettings['light_grey_color'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	line-height: 1.3em;
	padding: 5px 0;
	cursor: default;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
}

.cometchat_chatroomtitle .hrleft {
	display: inline-block;
	width: 30px;
	border: 0;
	background-color: <?php echo $themeSettings['main_background'];?>;
	height: 1px;
	margin-right: 5px;
	margin-bottom: 3px;
}

.cometchat_chatroomtitle .hrright {
	display: inline-block;
	width: 1000px;
	border: 0;
	background-color:  <?php echo $themeSettings['main_background'];?>;
	height: 1px;
	margin-left: 5px;
	margin-bottom: 3px;
}

.cometchat_chatroommsgcount{
	display: inline-block;
	float: <?php echo $right;?>;
	padding-top: 14px;
}

.cometchat_chatroommsgcounttext{
	height: 18px;
	padding: 0px 4px;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	background: <?php echo $themeSettings['primary_color']; ?>;
	border-radius: 15px;
	color: white;
	font-family: <?php echo $themeSettings['font_family']; ?>;
}

.cometchat_time{
	border-bottom: 1px solid <?php echo $themeSettings['border_color']; ?>;
	color: <?php echo $themeSettings['text_color'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-weight: bold;
	height: 12px;
	font-size:9px;
	text-align: center;
	padding: 5px 10px;
	display: table;
	margin: 10px auto;
}

.cometchat_scrollup{
	position: fixed;
	right: 10px;
	display: none;
	width: 16px;
	height: 16px;
	z-index: 1000;
	cursor: pointer;
}

.cometchat_scrolldown{
	position:fixed;
	bottom:50px;
	right:10px;
	display:none;
	width: 16px;
	height: 16px;
	z-index: 1000;
	cursor: pointer;
}

.cometchat_scrollimg{
    width: 100%;
    height: auto;
}

#inviteusersicon{
	height: 24px;
	width: 12px;
	<?php if ($rtl):?>
	margin-left: 10px;
	<?php endif;?>
	padding: 13px;
	margin-top: 16px;
	background: url(themes/<?php echo $theme;?>/images/add.svg) no-repeat top left;
}
#inviteusersicon:hover{
	cursor: pointer;
	background: url(themes/<?php echo $theme;?>/images/addhover.svg) no-repeat top left;
}
span.cometchat_cr_other_avatar {
    position: absolute !important;
    margin-top: 15px !important;
    margin-<?php echo $left;?>: 30px !important;
}
.cometchat_float_l{
	float: <?php echo $left;?>;
}
.cometchat_checkbox {
	content: "";
	float: <?php echo $right;?>;
	margin-top: 10px;
	margin-right: 30px;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align:middle;
	background-color: white;
	color: #f3f3f3;
	text-align: center;
	border-radius: 3px;
	border: 1px solid <?php echo $themeSettings['primary_color'];?>;
}
.useravatar{
	border-radius: 50px;
	height: 40px;
	width: 40px;
}
input.chatroomName, input.chatroomName:focus {
	width: 124px;
	height: 17px;
	margin-left: 70px;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	color: <?php echo $themeSettings['text_color'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	border-radius: 3px;
	border: 1px solid #E6E7EA;

}
.moderatorbutton {
	background-color: <?php echo $themeSettings['primary_color'];?>;
	border: 1px solid <?php echo $themeSettings['primary_color'];?>;
	color: <?php echo $themeSettings['color_white'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['font_family']; ?>;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	padding: 2px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 25px;
	font-weight: bold;
	max-width: 70px;
    margin: 5px 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cometchat_moderatoroptions {
	float: <?php echo $right;?>;
	margin-top: -8px;
}

.cometchat_chatroomlist_clicked{
	background-color: <?php echo $themeSettings['hover_color'];?>;
}
.cometchat_checkboxcontrol {
    display: block;
    cursor: pointer;
}

.cometchat_checkboxcontrol input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.cometchat_controlindicator {
    position: absolute;
    top: 17px;
    <?php echo $right;?>: 30px;
    width: 20px;
    height: 20px;
    background: <?php echo $themeSettings['color_white'];?>;
    border: 1px solid <?php echo $themeSettings['border_color'];?>;
    border-radius: 5px;
}

.cometchat_checkboxcontrol:hover input ~ .cometchat_controlindicator,
.cometchat_checkboxcontrol input:focus ~ .cometchat_controlindicator {
    background: <?php echo $themeSettings['hover_color'];?>;
}

.cometchat_checkboxcontrol input:checked ~ .cometchat_controlindicator {
    background: <?php echo $themeSettings['color_white'];?>;
    border: 1px solid <?php echo $themeSettings['border_color'];?>;
    border-radius: 5px;
}

.cometchat_checkboxcontrol:hover input:not([disabled]):checked ~ .cometchat_controlindicator,
.cometchat_checkboxcontrol input:checked:focus ~ .cometchat_controlindicator {
    background: <?php echo $themeSettings['light_grey_color'];?>;
}

.cometchat_controlindicator:after {
    position: absolute;
    display: none;
    content: '';
}

.cometchat_checkboxcontrol input:checked ~ .cometchat_controlindicator:after {
    display: block;
}

.cometchat_checkboxouter .cometchat_controlindicator:after {
    top: 2px;
    left: 7px;
    width: 5px;
    height: 11px;
    transform: rotate(45deg);
    border: solid <?php echo $themeSettings['primary_color'];?>;
    border-width: 0 1px 1px 0;
}
.cometchat_checkindicator{
    position: absolute;
    display: none;
    content:'';
    top: 17px;
    right: 30px;
    width: 5px;
    height: 11px;
    transform: rotate(45deg);
    border: solid <?php echo $themeSettings['primary_color'];?>;
    border-width: 0 1px 1px 0;
}
.cometchat_chatboxselfmedia {
	padding: 5px 0px;
	<?php if($rtl):?>
	margin: 0px 15px 0px 80px;
	<?php else:?>
	margin: 0px 80px 0px 15px;
	<?php endif;?>
	display: inline-block;
	float: <?php echo $right;?>;
}

.cometchat_chatboxselfmedia, .cometchat_chatboxmedia {
	font-family: inherit;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	color: <?php echo $themeSettings['text_color'];?>;
	word-break: break-word;
	border-radius: 25px;
	background-color: #FFFFFF;
	position: relative;
	max-width: 500px;
}

.cometchat_chatboxmedia {
	margin: 0px 0px 12px 100px;
	padding: 0px 0px 0px 18px;
	float: <?php echo $left;?>;
}

.userinvitebutton {
	height: 43px;
	border-top: 1px solid #E6E7EA;
	color: #3B5998;
	padding: 5px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	background-color: #F8F8F8;
}
.cometchat_usersstatus{
	display: inline-block;
    margin-top: 5px;
    <?php echo $left;?>: 42px;
    position: absolute;
}
.cometchat_cruserlist{
	cursor: pointer;
	position: relative;
	overflow: hidden;
	line-height: 100%;
	padding: 6px;
	border-bottom: 1px solid #D1D1D1;
	font-family: <?php echo $themeSettings['font_family'];?>;
	color: <?php echo $themeSettings['text_color'];?>;
}
.cometchat_margin_left{
	margin-<?php echo $left;?>: -17px;
}

.cometchat_margin_top{
	margin-top: 5px;
}
