html,body{
	height: 100%;
	width: 100%;
}
#log{
	display: none;
}
#videoChat{
	float: left;
	width: 100%;
	height: 100%;
	display: none;
}
#loading{
	/*width: 100%;
	height: 100%;
	background: url(loader.gif) no-repeat center;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	margin: 0px auto;
	text-align: center;
}
#video{
	background: #000;
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}
.AUD, .VID{
	margin-left:9px;
}
#video.audonly{
	height:1px;
	background: #FFF;
}
#CC_audio{
	height: 99%;
	width: 99%;
	background: url(../images/headset.svg) no-repeat 46% 30%;
	background-size: auto 63%;
}
.AUD, .VID, #cc_mute{
	opacity: 0.4;
	float:right !important;
}
.AUD:hover, .VID:hover, #cc_mute:hover{
	opacity: 1;
	float:right !important;
}
.cometchat_statusbutton {
    background-color: #424D5D !important;
    border: 1px solid #424D5D;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Lucida Grande","Verdana,Arial","Bitstream Vera Sans","sans-serif";
    font-size: 11px;
    font-weight: bold;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 85px;
    height: 19px;
    float: left;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 19px;
}
.END:hover{
	opacity: 1;
}
.END {
	z-index: 10;
    position: fixed;
    bottom: 20px;
    left: 15px;
    color: #fff;
    background-color: #c71212 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e62020',endColorstr='#ae0606');
    background: -webkit-gradient(linear,left top,left bottom,from(#e62020),to(#ae0606));
    background: -moz-linear-gradient(top,#e62020,#ae0606);
    background: -ms-linear-gradient(top,#e62020,#ae0606);
    background: -o-linear-gradient(top,#e62020,#ae0606);
    border: 1px solid #7b0202;
    text-shadow: 1px 1px 0 #7b0202;
    opacity: 0.4;
    color: #FFFFFF;
    border: 1px solid #c71212 !important;
}
#broadcastInvite:hover{
	opacity: 1;
}
#broadcastInvite {
    float: right;
    margin-left: 9px;
    cursor: pointer;
    width: 85px;
    height: 18px;
    opacity: 0.4;
}
#cc_mute{
	display: none;
}
<?php if($cc_mute == 1) { ?>
#cc_mute{
	display: block !important;
}
<?php } ?>

/*css for screenshare*/
ol {
	    padding-left: 25px;
		padding-top: 8px;
	}
#cometchat_screenshare_lightbox {
	border-radius: 8px;
	border: 2px solid #2F90B9;
	height: 80%;
	width: 90%;
	min-width: 200px;
	min-height: 200px;
	background-color: #f1f1f1;
	z-index: 10000011;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #555;
    padding: 8px;
    font-size: 0.8em;
    display: none;
}
#cometchat_screenshare_overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 10000010;
  	top: 0;
  	left: 0;
  	display: none;
}
.ext_install_steps, #cometchat_chrome_extension, #cometchat_firefox_extension, #cometchat_others_extension {
	display: none;
}

div.ext_install_steps{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 90%;
	text-align: center;
}

/*screenshare custom start*/

#cc_screensharebuttons {
	display: none;
	position: fixed;
	width: 100%;
	top: 40%;
	left: 4%;
	text-align: center;
}

.cometchat_screensharebutton {
	width: 33%;
	height: 25px;
	float: left;
	border-radius: 3px;
	margin-left: 20px;
    cursor:pointer;
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
    font-size:21px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:5px;
}


#cc_changewindow {
	background-color: #4D90FE;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ED;
    color: white;
}

#cc_closewindow {
	background-color: #D14836;
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
    border: 1px solid transparent;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

#cc_changewindow:hover {
	border: 1px solid #2F5BB7;
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#cc_closewindow:hover {
	background-color: #C53727;
    background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
    background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
    background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
    background-image: -o-linear-gradient(top,#dd4b39,#c53727);
    background-image: linear-gradient(top,#dd4b39,#c53727); 
}


/*screenshare custom end*/

.ie_fix {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: none;
}

.ie_btnfix {
	background-color: rgba(0, 0, 0, 1);
}

<?php if(isset($broadcast)&&!$broadcast){?>
	.fm-icelink-webrtc-video-local{
		left: 0 !important;
		top: 0 !important;
		width: 100% !important;
		height: 100% !important;
	}
<?php } ?>
