/*
 * CometChat
 * Copyright (c) 2016 Inscripts - support@cometchat.com | http://www.cometchat.com | http://www.inscripts.com
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html, body {
	overflow: hidden;
	background: <?php echo $themeSettings['color_white'];?>;
	direction: <?php echo $dir;?>;
}

ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-<?php echo $left;?>: 15px;
}


li:before {
    background: url("themes/<?php echo $theme;?>/images/bullet.png") no-repeat scroll rgba(0, 0, 0, 0);
    content: "";
    height: 10px;
    position: absolute;
    left: -8px;
    top: 2px;
    width: 10px;
    background-position: 0 1px;
    <?php if ($rtl):?>
    background-position: 0 -8px;
    right: -13px;
    left: 0;
    <?php endif;?>
}

li {
  position: relative;
  float: left;
  width: 130px;
  margin: 0;
  height: 20px;
  padding: 0px;
  cursor: pointer;
}

.cometchat_wrapper {
	width:98%;
	margin:0 auto;
	margin-top: 5px;
}

.container_title {
	background-color: <?php echo $themeSettings['primary_color'];?>;
	color: <?php echo $themeSettings['text_color'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_embed'];?>;
	border-left: 1px solid <?php echo $themeSettings['border_color'];?>;
	border-right: 1px solid <?php echo $themeSettings['border_color'];?>;
	border-top: 1px solid <?php echo $themeSettings['border_color'];?>;
	padding: 5px;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 6px;

}

.container_body {
	border-left: 1px solid <?php echo $themeSettings['border_color'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['border_color'];?>;
	border-right: 1px solid <?php echo $themeSettings['border_color'];?>;
	background-color: white;
	color: <?php echo $themeSettings['text_color'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_small'];?>;
	padding: 5px;
	font-weight: normal;
	padding: 10px 10px;
}

.container_body.embed {
	border: 0px;
	padding: 10px;
}

.container_title.embed {
	display: none;
}

#transliteratebox {
	width: 100%;
	height: 133px;
	border: 1px solid <?php echo $themeSettings['border_color'];?>;
}

#send {
	margin-top: 5px;
	float: left;
}

#change {
	float:right;
	padding: 5px;
	padding-right: 10px;
}

.button {
	background-color: <?php echo $themeSettings['primary_color'];?>;
	color: <?php echo $themeSettings['color_white'];?>;
	font-family: <?php echo $themeSettings['font_family'];?>;
	font-size: <?php echo $themeSettings['font_size_mid'];?>;
	cursor: pointer;
	font-weight: bold;
	padding: 7px;
	outline: 0;
	border: 0;
	border-radius: 25px;
	max-width: 90px;
	min-width: 85px;
	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
}

textarea {
    resize: none;
}
